<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,300,400' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="../../../css/style.css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>

    <header class="layout__container layout__col-sm-12 layout__col-md-12 layout__col-lg-2">
        <p></p>
        <div class="layout__sidebar layout__sidebar--fixed layout__col-sm-12 layout__col-md-12 layout__col-lg-2">Esto es un sidebar</div>
    </header>

    <section class="layout__container layout__col-lg-10 ">

            <div class="layout__row">
                <h2>Alerts</h2>

                <div class="alert alert-closable alert--normal">
                    <button type="button" class="alert__button--close">×</button>
                    <h4 class="alert__title">Default!</h4>
                    <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor, <a href="#" class="alert-link">vel scelerisque nisl consectetur et</a>.</p>
                </div>

                <div class="alert alert-closable alert--danger">
                    <button type="button" class="alert__button--close">×</button>
                    <h4 class="alert__title">Danger!</h4>
                    <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor, <a href="#" class="alert-link">vel scelerisque nisl consectetur et</a>.</p>
                </div>

                <div class="alert alert-closable alert--warning">
                    <button type="button" class="alert__button--close">×</button>
                    <h4 class="alert__title">Warning!</h4>
                    <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor, <a href="#" class="alert-link">vel scelerisque nisl consectetur et</a>.</p>
                </div>

                <div class="alert alert-closable alert--success">
                    <button type="button" class="alert__button--close">×</button>
                    <h4 class="alert__title">Success!</h4>
                    <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor, <a href="#" class="alert-link">vel scelerisque nisl consectetur et</a>.</p>
                </div>

                <div class="alert alert-closable alert--info">
                    <button type="button" class="alert__button--close">×</button>
                    <h4 class="alert__title">Info!</h4>
                    <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor, <a href="#" class="alert-link">vel scelerisque nisl consectetur et</a>.</p>
                </div>

            </div>
            <hr/>
            <div class="layout__row">
                <h2>Buttons</h2>
                <input type="button" value="aceptar" />
                <input type="button" value="Normal" class="button button--normal"/>
                <input type="button" value="Danger" class="button button--danger"/>
                <input type="button" value="Warning" class="button button--warning"/>
                <input type="button" value="Success" class="button button--success"/>
                <input type="button" value="Info" class="button button--info"/>
            </div>
            <hr/>
            <div class="layout__row">
                <h2>Badges</h2>
                <p>
                    <span class="badge badge--light badge--shadow-inside">+88888</span> <span class="badge badge--dark badge--shadow-inside">+999</span> <span class="badge__float badge__float--danger" data-badge="60">Badge Notification Example</span>
                </p>
            </div>
            <hr/>
            <div class="layout__row">
                <ul class="breadcrumb__dark">
                    <li><a href="javascript:;">home</a></li>
                    <li><a href="javascript:;">Projects</a></li>
                    <li><a href="javascript:;">Breadcrumb</a></li>
                    <li><a href="javascript:;">Getting started</a></li>
                    <li><a href="javascript:;">Download</a></li>
                    <li><a href="javascript:;">Final</a></li>
                </ul>
                <br/>
                <ul class="breadcrumb__light">
                    <li><a href="javascript:;">home</a></li>
                    <li><a href="javascript:;">Projects</a></li>
                    <li><a href="javascript:;">Breadcrumb</a></li>
                    <li><a href="javascript:;">Getting started</a></li>
                    <li><a href="javascript:;">Download</a></li>
                    <li><a href="javascript:;">Final</a></li>
                </ul>
                <br/>
                <ul class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Library</a></li>
                    <li class="active">Data</li>
                </ul>
            </div>
            <hr/>
            <div class="layout__row">
                <div class="layout__col-sm-12 layout__col-md-6 layout__col-lg-3"><p> Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.</p></div>
                <div class="layout__col-sm-12 layout__col-md-6 layout__col-lg-3"><p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.</p></div>
                <div class="layout__col-sm-12 layout__col-md-6 layout__col-lg-3"><p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.</p></div>
                <div class="layout__col-sm-12 layout__col-md-6 layout__col-lg-3"><p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.</p></div>
            </div>

    </section>

        <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>-->

    </body>
</html>
