//module/Alert ==========================================================================

@import "imports/alert-import";

@if __use-module(alert) {

  .alert {
    position: relative;
    @include __base-mpb(10px 0, 8px);
    @include __ui-border();
    @include __ui-round();
  }

  .alert > p {
    padding: 0;
  }

  .alert--closable {
    padding-right: __em(20);
  }

  @include __base-status(alert, true, true);

  .alert__title {
    margin-top: 0;
    color: inherit;
  }

  .alert__button--close {
    @extend %__alert-extend--button;
    position: absolute;
    opacity: 1;
    top: _em(2);
    right: __em(8);
    color: inherit;
    font-weight: bold;
    outline: 0;
  }

}

//endif