//module/Badge ==========================================================================

@import "imports/badge-import";

@if __use-module(badge) {

  .badge {
    @extend %badge__extend--badge;
    font-size: __em(12);
    @include __ui-round(15px);
  }

  .badge--shadow-inside {
    @extend %__shadow-inside;
  }

  @include __base-status(badge);

  .badge__float {
    position: relative;
  }

  .badge__float[data-badge]:after {
    content: attr(data-badge);
    position: absolute;
    top: -15px;
    right: -20px;
    @extend %badge__extend--badge;
    font-size: __em(12);
    @include __ui-round(15px);
  }

  .badge__float--normal[data-badge]:after {
    @include __base-skin(__mapping($__map--ui-color-status, normal));
  }

  .badge__float--danger[data-badge]:after {
    @include __base-skin(__mapping($__map--ui-color-status, danger));
  }

  .badge__float--warning[data-badge]:after {
    @include __base-skin(__mapping($__map--ui-color-status, warning));
  }

  .badge__float--success[data-badge]:after {
    @include __base-skin(__mapping($__map--ui-color-status, success));
  }

  .badge__float--info[data-badge]:after {
    @include __base-skin(__mapping($__map--ui-color-status, info));
  }

}

//endif