//module/Badge ==========================================================================
@import "../core/mixins/badge__mixin";
@import "../core/extends/badge__extend";

@if __use-module(badge) {

  //-------------------------------------------
  //  Variables module
  //-------------------------------------------
  $badge--round: 15;
  $badge__float--top: -15px;
  $badge__float--right: -20px;

  //-------------------------------------------
  //  Class definitions
  //------------------------------------------
  .badge {
    @extend %__badge-extend--badge;
    @include __ui-round(__em($badge--round));
  }

  .badge__float {
    position: relative;
  }

  .badge__float[data-badge]:after {
    content: attr(data-badge);
    position: absolute;
    top: $badge__float--top;
    right: $badge__float--right;
    @extend %__badge-extend--badge;
    @include __ui-round(__em($badge--round));
  }

  .badge__float--normal[data-badge]:after {
    @include __base-skin(__mapping($__map--ui-color-status, normal));
  }

  .badge__float--danger[data-badge]:after {
    @include __base-skin(__mapping($__map--ui-color-status, danger));
  }

  .badge__float--warning[data-badge]:after {
    @include __base-skin(__mapping($__map--ui-color-status, warning));
  }

  .badge__float--success[data-badge]:after {
    @include __base-skin(__mapping($__map--ui-color-status, success));
  }

  .badge__float--info[data-badge]:after {
    @include __base-skin(__mapping($__map--ui-color-status, info));
  }

  //-------------------------------------------
  //  Run Mixins Behaviors
  //-------------------------------------------
  @include __behavior--status(badge);
  @include __behavior--padding(badge, md);
  @include __behavior--shadow(badge);
  @include __behavior--shadow-inside(badge);
  @include __behavior--3d(badge);
  @include __behavior--fluid(badge);

}

//endif