//module/Breadcrumb ==========================================================================
@import "../core/mixins/breadcrumb__mixin";
@import "../core/extends/breadcrumb__extend";

@if __use-module(breadcrumb) {

  .breadcrumb {
    @extend %__breadcrumb-extend--global;
    @include __ui-round(4px);
    @include __ui-border(-1, 0 1px 4px 1px);
  }

  @include __base-status(breadcrumb, true);
  @include __base-padding(breadcrumb);

  .breadcrumb > li {
    display: inline-block;
    vertical-align: top;
    &:last-child {
      &:after {
        content: " ";
      }
    }
    &:after {
      content: " / ";
    }
    &.active {
      color: #999999;
    }
  }

  .breadcrumb__arrow {
    list-style: none;
    display: inline-block;
    @include __breadcrumb-mixin--type(__mapping($__map--ui-color-status, normal), #d9dcdd, #777777, #454545);
  }

}

//endif