//module/Breadcrumb ==========================================================================
@import "../core/mixins/breadcrumb__mixin";
@import "../core/extends/breadcrumb__extend";

@if __use-module(breadcrumb) {

  //-------------------------------------------
  //  Variables module
  //------------------------------------------
  $breadcrumb--border: -1;
  $breadcrumb--color-acive-li: #999999;
  $breadcrumb__arrow--color-text-normal: #d9dcdd;
  $breadcrumb__arrow--color-text-hover: #777777;
  $breadcrumb__arrow--color-text: #454545;

  //-------------------------------------------
  //  Class definitions
  //------------------------------------------
  .breadcrumb {
    @extend %__breadcrumb-extend--global;
    @include __ui-round();
    @include __ui-border($breadcrumb--border);
  }

  .breadcrumb > li {
    display: inline-block;
    vertical-align: top;
    &:last-child {
      &:after {
        content: " ";
      }
    }
    &:after {
      content: " / ";
    }
    &.active {
      color: $breadcrumb--color-acive-li;
    }
  }

  .breadcrumb__arrow {
    list-style: none;
    display: inline-block;
    @include __breadcrumb-mixin--type(__mapping($__map--ui-color-status, normal), $breadcrumb__arrow--color-text-normal, $breadcrumb__arrow--color-text-hover, $breadcrumb__arrow--color-text);
  }


  //-------------------------------------------
  //  Run Mixins Behaviors
  //-------------------------------------------
  @include __behavior--status(breadcrumb, true);
  @include __behavior--padding(breadcrumb);
  @include __behavior--shadow(breadcrumb);
  @include __behavior--shadow-inside(breadcrumb);
  @include __behavior--3d(breadcrumb);
  @include __behavior--fluid(breadcrumb);


}

//endif