//module/Button ==========================================================================

//-------------------------------------------
//  Button Mixins
//-------------------------------------------
@mixin button__mixin--skin($backc, $borc, $c){
  background-color: #{$backc};
  border-color: #{$borc};
  color: #{$c}!important;
}

//-------------------------------------------
//  Button Extends
//-------------------------------------------
%button__extend--default{
  text-align: center;
  display: inline-block;
  margin-bottom: 4px;
  font-weight: normal;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  @include __ui-round();
  @include __ui-border();
  @include __ui-user-select();
}

%button__extend--outline-in{
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

%button__extend--outline-off{
  outline: 0;
}

%button__extend--button{

}

@if $__module-button == true or $__zerw-debug == true{

  .button{

    @extend %button__extend--default;

    &:hover{

    }
    &:focus{
      text-decoration: none;
      @extend %button__extend--outline-off;
    }
    &:active{
      margin-top: 2px;
      border-bottom-width: 2px;
      @extend %button__extend--outline-off;
    }

  }

  .button__group{

    margin-bottom: 4px;
    position: relative;
    display: inline-block;
    vertical-align: middle;

    & > button,
    & > input[type="button"],
    & > input[type="reset"],
    & > input[type="submit"],
    & > a.button{

      display: table-cell;
      left: 0;
      @include __ui-round(0 0 0 0);

      &:first-child{
        @include __ui-round(4px 0 0 4px);
      }
      &:last-child{
        @include __ui-round(0 4px 4px 0);
      }
      &:active{
        border-bottom-width: 1px;
      }
    }

  }

  .button__group--fluid{
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
  }

  .button--normal{
    @include button__mixin--skin(__mapping($__map--ui-color-status, normal), __mapping($__map--ui-color-status, normal-shadow), #555555);
  }

  .button--danger{
    @include button__mixin--skin(__mapping($__map--ui-color-status, danger), __mapping($__map--ui-color-status, danger-shadow), #FFFFFF);
  }

  .button--warning{
    @include button__mixin--skin(__mapping($__map--ui-color-status, warning), __mapping($__map--ui-color-status, warning-shadow), #FFFFFF);
  }

  .button--success{
    @include button__mixin--skin(__mapping($__map--ui-color-status, success), __mapping($__map--ui-color-status, success-shadow), #FFFFFF);
  }

  .button--info{
    @include button__mixin--skin(__mapping($__map--ui-color-status, info), __mapping($__map--ui-color-status, info-shadow), #FFFFFF);
  }

  .button--link{
    @include button__mixin--skin(none, none, #156f95);
  }

  .button--lg{
    padding: __mapping($__map--base-padding-size, lg)!important;
  }

  .button--md{
    padding: __mapping($__map--base-padding-size, md) __mapping($__map--base-padding-size, lg)!important;
  }

  .button--sm{
    padding: __mapping($__map--base-padding-size, sm) __mapping($__map--base-padding-size, lg)!important;
  }

  .button--xs{
    padding: __mapping($__map--base-padding-size, xs) __mapping($__map--base-padding-size, lg)!important;
  }

  .button--fluid{
    display: block;
    width: 100%;
  }

}//endif