  //module/Form ==========================================================================

  //-------------------------------------------
  //  Form Mixins
  //-------------------------------------------
  @mixin form__mixin--size-element(){
    $psize: $__map--base-padding-size;
    @each $key, $size in $psize {
      .form__element--#{$key}{
        padding: #{$size} #{__mapping($__map--base-padding-size, lg)} !important;
      }
    }
  }

  @mixin form__mixin--status($primary){
    $ui__color-status--shadow: $primary;
    border-color: $primary !important;
    @include __ui-shadow-o(inset 0 2px 0 $ui__color-status--shadow);
    &:focus,
    &:active{
      border: 1px solid #{$primary} !important;
      @include __ui-shadow-o(inset 0 1px 1px $ui__color-status--shadow, 0 0 6px $ui__color-status--shadow);
    }
  }

  //-------------------------------------------
  //  Form Extends
  //-------------------------------------------
  %form__extend--element{

    position: relative;
    color: __mapping($__map--base-font, color-element-form);
    border: 1px solid #e7e7e7 !important;
    @include __ui-shadow-o(inset 0 2px 0 rgba(0, 0, 0, 0.075));
    @include __ui-transition-o(border-color ease-in .20s, box-shadow ease-in .20s);

    &:focus,
    &:active{
      outline: none;
      border: 1px solid #{__mapping($__map--ui-color-status, normal-dark)} !important;
      @include __ui-shadow-o(inset 0 1px 1px __mapping($__map--ui-color-status, normal), 0 0 6px __mapping($__map--ui-color-status, normal));
      @include __ui-transition-o(border-color ease-in .20s, box-shadow ease-in .20s);
    }

    &::-webkit-input-placeholder { /* WebKit browsers */
      color: __mapping($__map--base-font, color-placeholder);
    }
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: __mapping($__map--base-font, color-placeholder);
      opacity:  1;
    }
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: __mapping($__map--base-font, color-placeholder);
      opacity:  1;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10+ */
      color: __mapping($__map--base-font, color-placeholder);
    }

  }

  %form__extend--fluid{
    display: block;
    width: 100%;
  }

  @if $__module-form == true or $__zerw-debug == true{

    .form{
      padding: 2px;
    }

    .form__group{
      margin-bottom: 4px;
      @include __clearfix();
    }

    .form__input-group{
      display: inline-table;
      vertical-align: middle;
      //width: 100%;
    }

    .form__input-group {
      position: relative;
      display: table;
      border-collapse: separate; // prevent input groups from inheriting border styles from table cells when placed within a table

      &[class*="col-"] {
        float: none;
        padding-left: 0;
        padding-right: 0;
      }

      .form__input {
        position: relative;
        z-index: 2;
        float: left;
        width: 100%;
        margin-bottom: 0;
      }
    }

    .form__input-group--icon{
      padding: 0 12px;
      color: #555555;
      text-align: center;
      background-color: #eeeeee;
      border: 1px solid #e7e7e7;
      border-radius: 4px;
    }

    .form__input-group--button{

      & > .button{
        border-left: 0;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
      }

    }

    .form__input-group--icon,
    .form__input-group--button,
    .form__input-group .form__input {
      display: table-cell;

      &:not(:first-child):not(:last-child) {
        border-radius: 0;
      }

    }

    .form__input-group--icon,
    .form__input-group--button {
      width: 1%;
      white-space: nowrap;
      vertical-align: middle; // Match the inputs
    }

    .form__fieldset{
      min-width: 0;
      border: 0;
      @include __ui-shadow-o(inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.2));
      @include __ui-round();
      background: #fcfcfc;
    }

    .form__legend{
      position: relative;
      top: 30px;
      display: block;
      width: 100%;
      @include __base-mpb();
      border: 0;
      font-size: 21px;
      line-height: inherit;
      border-bottom: none;
    }

    .form__label{
      color: __mapping($__map--base-font, color-label);
      vertical-align: middle;
    }

    .form__input{
      @extend %form__extend--element;
    }

    .form__textarea{
      @extend %form__extend--element;
      min-height: 120px;
    }

    .form__select{
      @extend %form__extend--element;
      color: __mapping($__map--base-font, color-placeholder);
      &:focus,
      &:active{
        color: __mapping($__map--base-font, color-element-form);
      }
    }

    @include form__mixin--size-element();

    .form__element--danger{
      @include form__mixin--status(__mapping($__map--ui-color-status, danger));
    }

    .form__element--warning{
      @include form__mixin--status(__mapping($__map--ui-color-status, warning));
    }

    .form__element--success{
      @include form__mixin--status(__mapping($__map--ui-color-status, success));
    }

    .form__element--info{
      @include form__mixin--status(__mapping($__map--ui-color-status, info));
    }

    .form__element--fluid{
      @extend %form__extend--fluid;
    }


  }//endif