//module/Form ==========================================================================
@import "../core/mixins/form__mixin";
@import "../core/extends/form__extend";

@if __use-module(form) {

  //-------------------------------------------
  //  Variables module
  //-------------------------------------------
  $form--padding: 2px;
  $form__group--margin-bottom: 4px;
  $form__input-group--form-input-width: 100%;
  $form__input-group--form-input-margin-bottom: 0;
  $form__legend--top: 30px;
  $form__legend--width: 100%;
  $form__legend--border: 0;
  $form__legend--font-size: __rem(21);
  $form__textarea--min-height: 120px;

  //-------------------------------------------
  //  Class definitions
  //-------------------------------------------
  .form {
    padding: $form--padding;
  }

  .form__group {
    margin-bottom: $form__group--margin-bottom;
    @include __clearfix();
  }

  //-------------------------------------------
  //  Form input group
  //-------------------------------------------

  .form__input-group {

    position: relative;
    border-collapse: separate; // prevent input groups from inheriting border styles from table cells when placed within a table
    display: table;

    .form__input {
      width: $form__input-group--form-input-width;
      margin-bottom: $form__input-group--form-input-margin-bottom;
      float: left;

      &:first-child {
          @include __ui-round--right(0);
      }

      &:last-child {
          @include __ui-round--left(0);
      }

    }

    .addon {

      &:first-child {
          @include __ui-round--right(0);
      }

      &:last-child {
          @include __ui-round--left(0);
      }

    }

  }

  .form__input-group-button {

    &:first-child {
      .button {
          @include __ui-round--right(0);
      }
    }

    &:last-child {
      .button {
          @include __ui-round--left(0);
      }
    }

    .button {
      border-width: 0 __em(1, __mapping($__map--base, size-base-em)) __em(2, __mapping($__map--base, size-base-em)) __em(1, __mapping($__map--base, size-base-em));
      margin-bottom: 0;
      &:active {
        border-bottom-width: 0;
        @extend %__button-extend--outline-off;
      }
    }

  }

  .form__input-group .addon,
  .form__input-group-button,
  .form__input-group .form__input {
    display: table-cell;
    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }
  }

  .form__input-group .addon,
  .form__input-group-button {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle; // Match the inputs
  }

  .form__fieldset {
    min-width: 0;
    border: 0;
    @include __ui-shadow-o(inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.2));
    @include __ui-round();
    background: #fcfcfc;
  }

  .form__legend {
    position: relative;
    display: block;
    top: $form__legend--top;
    width: $form__legend--width;
    border: $form__legend--border;
    font-size: $form__legend--font-size;
    line-height: inherit;
    border-bottom: none;
    @include __base-mpb();
  }

  .form__label {
    color: __mapping($__map--base-font, color-label);
    vertical-align: middle;
    margin-bottom: __em(__mapping($__map--base, margin-bottom));
    display: block;
  }

  .form__input {
    @extend %__form-extend--element;
  }

  .form__textarea {
    @extend %__form-extend--element;
    min-height: $form__textarea--min-height;
  }

  .form__select {
    @extend %__form-extend--element;
    color: __mapping($__map--base-font, color-placeholder);
    &:focus,
    &:active {
      color: __mapping($__map--base-font, color-element-form);
    }
  }

  @include __form-mixin--size-element();

  .form__input--normal,
  .form__select--normal {
    @include __form-mixin--status-border(__mapping($__map--ui-color-status, normal));
  }

  .form__input--danger,
  .form__select--danger {
    @include __form-mixin--status-border(__mapping($__map--ui-color-status, danger));
  }

  .form__input--warning,
  .form__select--warning {
    @include __form-mixin--status-border(__mapping($__map--ui-color-status, warning));
  }

  .form__input--success,
  .form__select--success {
    @include __form-mixin--status-border(__mapping($__map--ui-color-status, success));
  }

  .form__input--info,
  .form__select--info {
    @include __form-mixin--status-border(__mapping($__map--ui-color-status, info));
  }


  //------------------------------------------------
  //  Run mixins Behavior
  //------------------------------------------------
  @include __behavior--fluid(form__input);
  @include __behavior--fluid(form__select);
  @include __behavior--fluid(form__element);

}

//endif