//module/Icon ==========================================================================
@import "../core/mixins/icon__mixin";
@import "../core/extends/icon__extend";

@if __use-module(icon) {

  @font-face {
    font-family: "zerw_fostastic";
    src: url("../fonts/zerw_fostastic.eot");
    src: url("../fonts/zerw_fostastic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/zerw_fostastic.woff") format("woff"),
    url("../fonts/zerw_fostastic.ttf") format("truetype"),
    url("../fonts/zerw_fostastic.svg#untitled-font-1") format("svg");
    font-weight: normal;
    font-style: normal;
  }

  [data-icon]:before {
    font-family: "zerw_fostastic";
    content: attr(data-icon);
    @extend %__icon-extend--font-default;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  [class^="icon__"]:before,
  [class*=" icon__"]:before {
    font-family: "zerw_fostastic";
    @extend %__icon-extend--font-default;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .icon {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .icon__round {
    display: table;
    vertical-align: middle;
    text-align: center;
    padding: 0;
    width: 80px;
    height: 80px;
    @include __ui-round(100%);

    &:before {
      display: table-cell;
      vertical-align: middle;
    }

  }

  .icon--shadow-dark,
  .icon__round--shadow-dark {
    @extend %__shadow-dark;
  }

  .icon--shadow-light,
  .icon__round--shadow-light {
    @extend %__shadow-light;
  }

  .icon--xxl {
    @include __icon-mixin--size-element(70);
  }

  .icon--xl {
    @include __icon-mixin--size-element(60);
  }

  .icon--lg {
    @include __icon-mixin--size-element(50);
  }

  .icon--md {
    @include __icon-mixin--size-element(40);
  }

  .icon--sm {
    @include __icon-mixin--size-element(30);
  }

  .icon--xs {
    @include __icon-mixin--size-element(20);
  }

  .icon__clock:before {
    content: "a";
  }

  .icon__camera:before {
    content: "b";
  }

  .icon__align-right:before {
    content: "c";
  }

  .icon__battery-2:before {
    content: "d";
  }

  .icon__tag:before {
    content: "e";
  }

  .icon__comment:before {
    content: "f";
  }

  .icon__banknote:before {
    content: "g";
  }

  .icon__bubble:before {
    content: "h";
  }

  .icon__bulb:before {
    content: "i";
  }

  .icon__calendar:before {
    content: "j";
  }

  .icon__camera-1:before {
    content: "k";
  }

  .icon__clip:before {
    content: "l";
  }

  .icon__clock-1:before {
    content: "m";
  }

  .icon__cloud:before {
    content: "n";
  }

  .icon__cup:before {
    content: "o";
  }

  .icon__data:before {
    content: "p";
  }

  .icon__diamond:before {
    content: "q";
  }

  .icon__display:before {
    content: "r";
  }

  .icon__eye:before {
    content: "s";
  }

  .icon__note:before {
    content: "t";
  }

  .icon__news:before {
    content: "u";
  }

  .icon__music:before {
    content: "v";
  }

  .icon__megaphone:before {
    content: "w";
  }

  .icon__mail:before {
    content: "x";
  }

  .icon__lock:before {
    content: "y";
  }

  .icon__location:before {
    content: "z";
  }

  .icon__like:before {
    content: "A";
  }

  .icon__lab:before {
    content: "B";
  }

  .icon__key:before {
    content: "D";
  }

  .icon__food:before {
    content: "C";
  }

  .icon__fire:before {
    content: "E";
  }

  .icon__paperplane:before {
    content: "F";
  }

  .icon__params:before {
    content: "G";
  }

  .icon__pen:before {
    content: "H";
  }

  .icon__phone:before {
    content: "I";
  }

  .icon__photo:before {
    content: "J";
  }

  .icon__search:before {
    content: "K";
  }

  .icon__settings:before {
    content: "L";
  }

  .icon__shop:before {
    content: "M";
  }

  .icon__sound:before {
    content: "N";
  }

  .icon__stack:before {
    content: "O";
  }

  .icon__star:before {
    content: "P";
  }

  .icon__study:before {
    content: "Q";
  }

  .icon__t-shirt:before {
    content: "R";
  }

  .icon__vynil:before {
    content: "S";
  }

  .icon__world:before {
    content: "T";
  }

  .icon__video:before {
    content: "U";
  }

  .icon__vallet:before {
    content: "V";
  }

  .icon__user:before {
    content: "W";
  }

  .icon__tv:before {
    content: "X";
  }

  .icon__truck:before {
    content: "Y";
  }

  .icon__trash:before {
    content: "Z";
  }

  .icon__tag-1:before {
    content: "0";
  }

  .icon__cardiac-pulse:before {
    content: "1";
  }

  .icon__book-close:before {
    content: "2";
  }

  .icon__bones:before {
    content: "3";
  }

  .icon__atom:before {
    content: "4";
  }

  .icon__bolt:before {
    content: "5";
  }

  .icon__calendar-1:before {
    content: "6";
  }

  .icon__calculator:before {
    content: "7";
  }

  .icon__connection-0:before {
    content: "8";
  }

  .icon__comment-1:before {
    content: "9";
  }

  .icon__coffee:before {
    content: "!";
  }

  .icon__cloud-1:before {
    content: "\"";
  }

  .icon__diamond-1:before {
    content: "#";
  }

  .icon__cube:before {
    content: "$";
  }

  .icon__crop:before {
    content: "%";
  }

  .icon__checkbox-checked:before {
    content: "&";
  }

  .icon__checkmark:before {
    content: "'";
  }

  .icon__browser:before {
    content: "(";
  }

  .icon__box:before {
    content: ")";
  }

  .icon__bars:before {
    content: "*";
  }

  .icon__align-center:before {
    content: "+";
  }

  .icon__align-justify:before {
    content: ",";
  }

  .icon__battery-0:before {
    content: "-";
  }

  .icon__battery-1:before {
    content: ".";
  }

  .icon__align-left:before {
    content: "/";
  }

  .icon__archive:before {
    content: ":";
  }

  .icon__arrow-down:before {
    content: ";";
  }

  .icon__arrow-left:before {
    content: "<";
  }

  .icon__arrow-right:before {
    content: "=";
  }

  .icon__arrow-up:before {
    content: ">";
  }

  .icon__bag:before {
    content: "?";
  }

  .icon__bank-notes:before {
    content: "@";
  }

  .icon__barbell:before {
    content: "[";
  }

  .icon__bookmark:before {
    content: "^";
  }

  .icon__cd:before {
    content: "]";
  }

  .icon__credit-cards:before {
    content: "_";
  }

  .icon__connection-4:before {
    content: "`";
  }

  .icon__character:before {
    content: "{";
  }

  .icon__connection-3:before {
    content: "|";
  }

  .icon__connection-2:before {
    content: "~";
  }

  .icon__beer:before {
    content: "}";
  }

  .icon__battery-power:before {
    content: "\\";
  }

  .icon__battery-4:before {
    content: "\e000";
  }

  .icon__bubble-1:before {
    content: "\e001";
  }

  .icon__bubble-2:before {
    content: "\e002";
  }

  .icon__bubble-2-1:before {
    content: "\e003";
  }

  .icon__bubble-3:before {
    content: "\e004";
  }

  .icon__bucket:before {
    content: "\e005";
  }

  .icon__book-open:before {
    content: "\e006";
  }

  .icon__file-settings:before {
    content: "\e007";
  }

  .icon__file-broken:before {
    content: "\e009";
  }

  .icon__file:before {
    content: "\e008";
  }

  .icon__file-add:before {
    content: "\e00a";
  }

  .icon__eyedropper:before {
    content: "\e00b";
  }

  .icon__envelope:before {
    content: "\e00c";
  }

  .icon__enter:before {
    content: "\e00d";
  }

  .icon__email-plane:before {
    content: "\e00e";
  }

  .icon__email:before {
    content: "\e00f";
  }

  .icon__download:before {
    content: "\e010";
  }

  .icon__folder:before {
    content: "\e011";
  }

  .icon__clipboard:before {
    content: "\e012";
  }

  .icon__flag:before {
    content: "\e013";
  }

  .icon__files:before {
    content: "\e014";
  }

  .icon__folder-add:before {
    content: "\e015";
  }

  .icon__folder-settings:before {
    content: "\e016";
  }

  .icon__folder-check:before {
    content: "\e017";
  }

  .icon__forbidden:before {
    content: "\e018";
  }

  .icon__frames:before {
    content: "\e019";
  }

  .icon__glass:before {
    content: "\e01a";
  }

  .icon__graph:before {
    content: "\e01b";
  }

  .icon__grid:before {
    content: "\e01c";
  }

  .icon__home:before {
    content: "\e01d";
  }

  .icon__heart:before {
    content: "\e01e";
  }

  .icon__connection-1:before {
    content: "\e01f";
  }

  .icon__battery-3:before {
    content: "\e020";
  }

  .icon__micro:before {
    content: "\e021";
  }

  .icon__meter:before {
    content: "\e022";
  }

  .icon__measure:before {
    content: "\e023";
  }

  .icon__map:before {
    content: "\e024";
  }

  .icon__locked:before {
    content: "\e025";
  }
  .icon__lock-1:before {
    content: "\e026";
  }
  .icon__list:before {
    content: "\e027";
  }
  .icon__laptop:before {
    content: "\e028";
  }
  .icon__lab-1:before {
    content: "\e029";
  }
  .icon__ipad-2:before {
    content: "\e02a";
  }
  .icon__ipad:before {
    content: "\e02b";
  }
  .icon__invoice:before {
    content: "\e02c";
  }
  .icon__id-card:before {
    content: "\e02d";
  }
  .icon__micro-mute:before {
    content: "\e02e";
  }
  .icon__microwave:before {
    content: "\e02f";
  }
  .icon__minus:before {
    content: "\e030";
  }
  .icon__modem:before {
    content: "\e031";
  }
  .icon__mute:before {
    content: "\e032";
  }
  .icon__newspaper:before {
    content: "\e033";
  }
  .icon__paperclip:before {
    content: "\e034";
  }
  .icon__pencil:before {
    content: "\e035";
  }
  .icon__phone-1:before {
    content: "\e036";
  }
  .icon__phone-2:before {
    content: "\e037";
  }
  .icon__phone-3:before {
    content: "\e038";
  }
  .icon__picture:before {
    content: "\e039";
  }
  .icon__pie-chart:before {
    content: "\e03a";
  }
  .icon__share-outline:before {
    content: "\e03b";
  }
  .icon__share:before {
    content: "\e03c";
  }
  .icon__settings-1:before {
    content: "\e03d";
  }
  .icon__set:before {
    content: "\e03e";
  }
  .icon__select:before {
    content: "\e03f";
  }
  .icon__screen:before {
    content: "\e040";
  }
  .icon__reload:before {
    content: "\e041";
  }
  .icon__refresh:before {
    content: "\e042";
  }
  .icon__printer-2:before {
    content: "\e043";
  }
  .icon__printer-1:before {
    content: "\e044";
  }
  .icon__power:before {
    content: "\e045";
  }
  .icon__pin:before {
    content: "\e046";
  }
  .icon__pill:before {
    content: "\e047";
  }
  .icon__shorts:before {
    content: "\e048";
  }
  .icon__speaker:before {
    content: "\e049";
  }
  .icon__star-1:before {
    content: "\e04a";
  }
  .icon__stopwatch:before {
    content: "\e04b";
  }
  .icon__sun:before {
    content: "\e04c";
  }
  .icon__syringe:before {
    content: "\e04d";
  }
  .icon__trash-1:before {
    content: "\e04e";
  }
  .icon__train:before {
    content: "\e04f";
  }
  .icon__unlocked:before {
    content: "\e050";
  }
  .icon__user-1:before {
    content: "\e051";
  }
  .icon__user-outline:before {
    content: "\e052";
  }
  .icon__users:before {
    content: "\e053";
  }
  .icon__zoom-out:before {
    content: "\e054";
  }
  .icon__zoom-in:before {
    content: "\e055";
  }
  .icon__zoom:before {
    content: "\e056";
  }
  .icon__windows:before {
    content: "\e057";
  }
  .icon__window-delete:before {
    content: "\e058";
  }
  .icon__wifi-3:before {
    content: "\e059";
  }
  .icon__wifi-2:before {
    content: "\e05a";
  }
  .icon__wifi-1:before {
    content: "\e05b";
  }
  .icon__volume-up:before {
    content: "\e05c";
  }
  .icon__volume-down:before {
    content: "\e05d";
  }
  .icon__volume:before {
    content: "\e05e";
  }
  .icon__users-outline:before {
    content: "\e05f";
  }
  .icon__triangle-left:before {
    content: "\e060";
  }
  .icon__triangle-right:before {
    content: "\e061";
  }
  .icon__triangle-up:before {
    content: "\e062";
  }
  .icon__triangle-down:before {
    content: "\e063";
  }
  .icon__tag-2:before {
    content: "\e064";
  }
  .icon__list-unordered:before {
    content: "\e065";
  }
  .icon__list-ordered:before {
    content: "\e066";
  }
  .icon__link-external:before {
    content: "\e067";
  }
  .icon__mention:before {
    content: "\e068";
  }
  .icon__alert:before {
    content: "\e069";
  }
  .icon__circle-slash:before {
    content: "\e06a";
  }
  .icon__arrow-down-1:before {
    content: "\e06b";
  }
  .icon__arrow-left-1:before {
    content: "\e06c";
  }
  .icon__arrow-right-1:before {
    content: "\e06d";
  }
  .icon__check:before {
    content: "\e06e";
  }
  .icon__checklist:before {
    content: "\e06f";
  }
  .icon__chevron-down:before {
    content: "\e070";
  }
  .icon__chevron-left:before {
    content: "\e071";
  }
  .icon__comment-discussion:before {
    content: "\e072";
  }
  .icon__chevron-right:before {
    content: "\e073";
  }
  .icon__chevron-up:before {
    content: "\e074";
  }
  .icon__arrow-up-1:before {
    content: "\e075";
  }
  .icon__gear:before {
    content: "\e076";
  }
  .icon__home-1:before {
    content: "\e077";
  }
  .icon__heart-1:before {
    content: "\e078";
  }
  .icon__globe:before {
    content: "\e079";
  }
  .icon__gift:before {
    content: "\e07a";
  }
  .icon__issue-reopened:before {
    content: "\e07b";
  }
  .icon__issue-opened:before {
    content: "\e07c";
  }
  .icon__issue-closed:before {
    content: "\e07d";
  }
  .icon__info:before {
    content: "\e07e";
  }
  .icon__link:before {
    content: "\e07f";
  }
  .icon__light-bulb:before {
    content: "\e080";
  }
  .icon__megaphone-1:before {
    content: "\e081";
  }
  .icon__key-1:before {
    content: "\e082";
  }
  .icon__location-1:before {
    content: "\e083";
  }
  .icon__lock-2:before {
    content: "\e084";
  }
  .icon__mail-1:before {
    content: "\e085";
  }
  .icon__mail-read:before {
    content: "\e086";
  }
  .icon__milestone:before {
    content: "\e087";
  }
  .icon__microscope:before {
    content: "\e088";
  }
  .icon__pencil-1:before {
    content: "\e089";
  }
  .icon__package:before {
    content: "\e08a";
  }
  .icon__ruby:before {
    content: "\e08b";
  }
  .icon__server:before {
    content: "\e08c";
  }
  .icon__three-bars:before {
    content: "\e08d";
  }
  .icon__terminal:before {
    content: "\e08e";
  }
  .icon__rocket:before {
    content: "\e08f";
  }
  .icon__repo-pull:before {
    content: "\e090";
  }
  .icon__sync:before {
    content: "\e091";
  }
  .icon__pulse:before {
    content: "\e092";
  }
  .icon__primitive-square:before {
    content: "\e093";
  }
  .icon__primitive-dot:before {
    content: "\e094";
  }
  .icon__question:before {
    content: "\e095";
  }
  .icon__quote:before {
    content: "\e096";
  }
  .icon__radio-tower:before {
    content: "\e097";
  }
  .icon__repo:before {
    content: "\e098";
  }
  .icon__repo-clone:before {
    content: "\e099";
  }
  .icon__repo-force-push:before {
    content: "\e09a";
  }
  .icon__sign-out:before {
    content: "\e09b";
  }
  .icon__sign-in:before {
    content: "\e09c";
  }
  .icon__settings-2:before {
    content: "\e09d";
  }
  .icon__trashcan:before {
    content: "\e09e";
  }
  .icon__tools:before {
    content: "\e09f";
  }
  .icon__star-2:before {
    content: "\e0a0";
  }
  .icon__steps:before {
    content: "\e0a1";
  }
  .icon__plus:before {
    content: "\e0a2";
  }
  .icon__pin-1:before {
    content: "\e0a3";
  }
  .icon__person:before {
    content: "\e0a4";
  }
  .icon__markdown:before {
    content: "\e0a5";
  }
  .icon__device-desktop:before {
    content: "\e0a6";
  }
  .icon__device-mobile:before {
    content: "\e0a7";
  }
  .icon__device-camera:before {
    content: "\e0a8";
  }
  .icon__database:before {
    content: "\e0a9";
  }
  .icon__cloud-download:before {
    content: "\e0aa";
  }
  .icon__cloud-upload:before {
    content: "\e0ab";
  }
  .icon__clock-2:before {
    content: "\e0ac";
  }
  .icon__clippy:before {
    content: "\e0ad";
  }
  .icon__browser-1:before {
    content: "\e0ae";
  }
  .icon__calendar-2:before {
    content: "\e0af";
  }
  .icon__credit-card:before {
    content: "\e0b0";
  }
  .icon__ellipsis:before {
    content: "\e0b1";
  }
  .icon__dashboard:before {
    content: "\e0b2";
  }
  .icon__search-1:before {
    content: "\e0b3";
  }
  .icon__screen-normal:before {
    content: "\e0b4";
  }
  .icon__screen-full:before {
    content: "\e0b5";
  }
  .icon__rss:before {
    content: "\e0b6";
  }
  .icon__x:before {
    content: "\e0b8";
  }
  .icon__zap:before {
    content: "\e0b7";
  }
  .icon__versions:before {
    content: "\e0b9";
  }
  .icon__unmute:before {
    content: "\e0ba";
  }
  .icon__airport-circled:before {
    content: "\e0bb";
  }
  .icon__airport-plane:before {
    content: "\e0bc";
  }
  .icon__bus-terminal-two:before {
    content: "\e0be";
  }
  .icon__bullet-train:before {
    content: "\e0bd";
  }
  .icon__s-bahn:before {
    content: "\e0bf";
  }
  .icon__s-bahn-line:before {
    content: "\e0c0";
  }
  .icon__parking:before {
    content: "\e0c1";
  }
  .icon__u-bahn:before {
    content: "\e0c2";
  }
  .icon__clock-outline:before {
    content: "\e0c3";
  }
  .icon__clock-solid:before {
    content: "\e0c4";
  }
  .icon__tram-tunneled:before {
    content: "\e0c5";
  }
  .icon__tram-outline-tunneled:before {
    content: "\e0c6";
  }
  .icon__hospital:before {
    content: "\e0c7";
  }
  .icon__ship:before {
    content: "\e0c8";
  }
  .icon__computer-imac:before {
    content: "\e0c9";
  }
  .icon__computer-imac-2:before {
    content: "\e0ca";
  }
  .icon__bubble-comment-streamline-talk:before {
    content: "\e0cb";
  }
  .icon__bubble-love-streamline-talk:before {
    content: "\e0cc";
  }
  .icon__browser-streamline-window:before {
    content: "\e0cd";
  }
  .icon__caddie-shop-shopping-streamline:before {
    content: "\e0ce";
  }
  .icon__caddie-shopping-streamline:before {
    content: "\e0cf";
  }
  .icon__email-mail-streamline:before {
    content: "\e0d0";
  }
  .icon__like-love-streamline:before {
    content: "\e0d1";
  }
  .icon__ipod-music-streamline:before {
    content: "\e0d2";
  }
  .icon__iphone-streamline:before {
    content: "\e0d3";
  }
  .icon__picture-streamline:before {
    content: "\e0d4";
  }
  .icon__picture-streamline-1:before {
    content: "\e0d5";
  }
  .icon__music-speaker-streamline:before {
    content: "\e0d6";
  }
  .icon__ibook-laptop:before {
    content: "\e0d7";
  }
  .icon__ipad-streamline:before {
    content: "\e0d8";
  }
  .icon__settings-streamline:before {
    content: "\e0d9";
  }
  .icon__settings-streamline-1:before {
    content: "\e0da";
  }
  .icon__streamline-suitcase-travel:before {
    content: "\e0db";
  }
  .icon__streamline-sync:before {
    content: "\e0dc";
  }
  .icon__photo-pictures-streamline:before {
    content: "\e0dd";
  }
  .icon__map-pin-streamline:before {
    content: "\e0de";
  }
  .icon__database-streamline:before {
    content: "\e0df";
  }
  .icon__delete-garbage-streamline:before {
    content: "\e0e0";
  }
  .icon__coffee-streamline:before {
    content: "\e0e1";
  }
  .icon__computer-network-streamline:before {
    content: "\e0e2";
  }
  .icon__edit-modify-streamline:before {
    content: "\e0e3";
  }
  .icon__pen-streamline:before {
    content: "\e0e4";
  }
  .icon__pen-streamline-1:before {
    content: "\e0e5";
  }
  .icon__remote-control-streamline:before {
    content: "\e0e6";
  }
  .icon__design-pencil-rule-streamline:before {
    content: "\e0e7";
  }
  .icon__design-graphic-tablet-streamline-tablet:before {
    content: "\e0e8";
  }
  .icon__crop-streamline:before {
    content: "\e0e9";
  }
  .icon__speech-streamline-talk-user:before {
    content: "\e0ea";
  }
  .icon__magic-magic-wand-streamline:before {
    content: "\e0eb";
  }
  .icon__link-streamline:before {
    content: "\e0ec";
  }
  .icon__clock-streamline-time:before {
    content: "\e0ed";
  }
  .icon__handle-streamline-vector:before {
    content: "\e0ee";
  }
  .icon__notebook-streamline:before {
    content: "\e0ef";
  }
  .icon__paint-bucket-streamline:before {
    content: "\e0f0";
  }
  .icon__painting-pallet-streamline:before {
    content: "\e0f1";
  }
  .icon__painting-roll-streamline:before {
    content: "\e0f2";
  }
  .icon__ink-pen-streamline:before {
    content: "\e0f3";
  }
  .icon__adn:before {
    content: "\e0f4";
  }
  .icon__align-center-1:before {
    content: "\e0f5";
  }
  .icon__align-justify-1:before {
    content: "\e0f6";
  }
  .icon__align-justify-2:before {
    content: "\e0f7";
  }
  .icon__align-left-1:before {
    content: "\e0f8";
  }
  .icon__align-right-1:before {
    content: "\e0f9";
  }
  .icon__angle-double-down:before {
    content: "\e0fa";
  }
  .icon__angle-double-left:before {
    content: "\e0fb";
  }
  .icon__angle-double-right:before {
    content: "\e0fc";
  }
  .icon__angle-double-up:before {
    content: "\e0fd";
  }
  .icon__angle-down:before {
    content: "\e0fe";
  }
  .icon__angle-left:before {
    content: "\e0ff";
  }
  .icon__angle-right:before {
    content: "\e100";
  }
  .icon__angle-up:before {
    content: "\e101";
  }
  .icon__apple:before {
    content: "\e102";
  }
  .icon__arrow-circle-down:before {
    content: "\e103";
  }
  .icon__arrow-circle-down-line:before {
    content: "\e104";
  }
  .icon__arrow-circle-left:before {
    content: "\e105";
  }
  .icon__arrow-circle-right:before {
    content: "\e106";
  }
  .icon__arrow-circle-right-line:before {
    content: "\e107";
  }
  .icon__arrow-circle-up:before {
    content: "\e108";
  }
  .icon__arrow-circle-up-line:before {
    content: "\e109";
  }
  .icon__bell:before {
    content: "\e10a";
  }
  .icon__bell-two:before {
    content: "\e10b";
  }
  .icon__bitbucket:before {
    content: "\e10c";
  }
  .icon__calendar-3:before {
    content: "\e10d";
  }
  .icon__calendar-4:before {
    content: "\e10e";
  }
  .icon__briefcase-case-two:before {
    content: "\e10f";
  }
  .icon__book:before {
    content: "\e110";
  }
  .icon__bookmark-1:before {
    content: "\e111";
  }
  .icon__box-inbox:before {
    content: "\e112";
  }
  .icon__briefcase-case:before {
    content: "\e113";
  }
  .icon__camera-retro:before {
    content: "\e114";
  }
  .icon__camera-2:before {
    content: "\e115";
  }
  .icon__call-phone-square:before {
    content: "\e116";
  }
  .icon__call-phone:before {
    content: "\e117";
  }
  .icon__caret-down:before {
    content: "\e118";
  }
  .icon__caret-down-two:before {
    content: "\e119";
  }
  .icon__caret-left:before {
    content: "\e11a";
  }
  .icon__caret-right:before {
    content: "\e11b";
  }
  .icon__caret-square-down:before {
    content: "\e11c";
  }
  .icon__caret-square-right:before {
    content: "\e11d";
  }
  .icon__caret-square-up:before {
    content: "\e11e";
  }
  .icon__caret-up:before {
    content: "\e11f";
  }
  .icon__caret-up-down:before {
    content: "\e120";
  }
  .icon__caret-up-two:before {
    content: "\e121";
  }
  .icon__chat-bubble:before {
    content: "\e122";
  }
  .icon__chat-bubble-two:before {
    content: "\e123";
  }
  .icon__check-mark:before {
    content: "\e124";
  }
  .icon__check-mark-2:before {
    content: "\e125";
  }
  .icon__certificate:before {
    content: "\e126";
  }
  .icon__check-mark-circle:before {
    content: "\e127";
  }
  .icon__check-mark-circle-two:before {
    content: "\e128";
  }
  .icon__check-square:before {
    content: "\e129";
  }
  .icon__chevron-down-1:before {
    content: "\e12a";
  }
  .icon__chevron-down-circle:before {
    content: "\e12b";
  }
  .icon__chevron-left-1:before {
    content: "\e12c";
  }
  .icon__chevron-right-1:before {
    content: "\e12d";
  }
  .icon__chevron-up-1:before {
    content: "\e12e";
  }
  .icon__chevron-up-circle:before {
    content: "\e12f";
  }
  .icon__circle:before {
    content: "\e130";
  }
  .icon__circle-line:before {
    content: "\e131";
  }
  .icon__clipboard-1:before {
    content: "\e132";
  }
  .icon__clock-3:before {
    content: "\e133";
  }
  .icon__crosshair-aim:before {
    content: "\e134";
  }
  .icon__credit-card-1:before {
    content: "\e135";
  }
  .icon__close-delete:before {
    content: "\e136";
  }
  .icon__cloud-download-1:before {
    content: "\e137";
  }
  .icon__cloud-upload-1:before {
    content: "\e138";
  }
  .icon__cloud-2:before {
    content: "\e139";
  }
  .icon__ellipsis-1:before {
    content: "\e13a";
  }
  .icon__ellipsis-2:before {
    content: "\e13b";
  }
  .icon__eject:before {
    content: "\e13c";
  }
  .icon__cursor-move:before {
    content: "\e13d";
  }
  .icon__cursor-move-two:before {
    content: "\e13e";
  }
  .icon__dislike:before {
    content: "\e13f";
  }
  .icon__exclamation-triangle:before {
    content: "\e140";
  }
  .icon__exclamation-circle:before {
    content: "\e141";
  }
  .icon__exclamation:before {
    content: "\e142";
  }
  .icon__email-envelope:before {
    content: "\e143";
  }
  .icon__external-link:before {
    content: "\e144";
  }
  .icon__external-link-sqaure:before {
    content: "\e145";
  }
  .icon__folder-open:before {
    content: "\e146";
  }
  .icon__flickr:before {
    content: "\e147";
  }
  .icon__folder-1:before {
    content: "\e148";
  }
  .icon__folder2:before {
    content: "\e149";
  }
  .icon__folder3:before {
    content: "\e14a";
  }
  .icon__globe-world:before {
    content: "\e14b";
  }
  .icon__hand-down:before {
    content: "\e14c";
  }
  .icon__hand-up:before {
    content: "\e14d";
  }
  .icon__hand-right:before {
    content: "\e14e";
  }
  .icon__heart-2:before {
    content: "\e14f";
  }
  .icon__heart-empty:before {
    content: "\e150";
  }
  .icon__headphone:before {
    content: "\e151";
  }
  .icon__harddrive:before {
    content: "\e152";
  }
  .icon__information:before {
    content: "\e153";
  }
  .icon__information-circle:before {
    content: "\e154";
  }
  .icon__instagram:before {
    content: "\e155";
  }
  .icon__left:before {
    content: "\e156";
  }
  .icon__home-2:before {
    content: "\e157";
  }
  .icon__legal:before {
    content: "\e158";
  }
  .icon__list-1:before {
    content: "\e159";
  }
  .icon__link-1:before {
    content: "\e15a";
  }
  .icon__like-1:before {
    content: "\e15b";
  }
  .icon__list-2:before {
    content: "\e15c";
  }
  .icon__list-bullet:before {
    content: "\e15d";
  }
  .icon__list-number:before {
    content: "\e15e";
  }
  .icon__letter-mail:before {
    content: "\e15f";
  }
  .icon__level-down:before {
    content: "\e160";
  }
  .icon__level-up:before {
    content: "\e161";
  }
  .icon__log-in:before {
    content: "\e162";
  }
  .icon__log-out:before {
    content: "\e163";
  }
  .icon__link-broken:before {
    content: "\e164";
  }
  .icon__pencil-2:before {
    content: "\e165";
  }
  .icon__plus-square:before {
    content: "\e166";
  }
  .icon__plus-circle:before {
    content: "\e167";
  }
  .icon__plus-1:before {
    content: "\e168";
  }
  .icon__photo-1:before {
    content: "\e169";
  }
  .icon__pin-map:before {
    content: "\e16a";
  }
  .icon__pin-map-2:before {
    content: "\e16b";
  }
  .icon__plane-airport:before {
    content: "\e16c";
  }
  .icon__minus-square:before {
    content: "\e16d";
  }
  .icon__minus-line:before {
    content: "\e16e";
  }
  .icon__minus-square-1:before {
    content: "\e16f";
  }
  .icon__minus-circle:before {
    content: "\e170";
  }
  .icon__pencil-square:before {
    content: "\e171";
  }
  .icon__minus-1:before {
    content: "\e172";
  }
  .icon__phone-mobile:before {
    content: "\e173";
  }
  .icon__power-off:before {
    content: "\e174";
  }
  .icon__remove:before {
    content: "\e175";
  }
  .icon__quote-left:before {
    content: "\e176";
  }
  .icon__quote-right:before {
    content: "\e177";
  }
  .icon__rocket-1:before {
    content: "\e178";
  }
  .icon__rss-two:before {
    content: "\e17a";
  }
  .icon__rss-1:before {
    content: "\e17b";
  }
  .icon__shield:before {
    content: "\e179";
  }
  .icon__shopping-cart:before {
    content: "\e17c";
  }
  .icon__sitemap:before {
    content: "\e17d";
  }
  .icon__share-square:before {
    content: "\e17e";
  }
  .icon__share-square-1:before {
    content: "\e17f";
  }
  .icon__screen-desktop:before {
    content: "\e180";
  }
  .icon__science-laboratory:before {
    content: "\e181";
  }
  .icon__save-disk:before {
    content: "\e182";
  }
  .icon__search-find:before {
    content: "\e183";
  }
  .icon__repeat-redo:before {
    content: "\e184";
  }
  .icon__resize-down:before {
    content: "\e185";
  }
  .icon__resize-expand:before {
    content: "\e186";
  }
  .icon__star-3:before {
    content: "\e187";
  }
  .icon__smile:before {
    content: "\e188";
  }
  .icon__square-line:before {
    content: "\e189";
  }
  .icon__square:before {
    content: "\e18a";
  }
  .icon__moon-sleep:before {
    content: "\e18b";
  }
  .icon__star-half:before {
    content: "\e18c";
  }
  .icon__star-half-1:before {
    content: "\e18d";
  }
  .icon__star-two:before {
    content: "\e18e";
  }
  .icon__volume-down-1:before {
    content: "\e18f";
  }
  .icon__volume-down-2:before {
    content: "\e190";
  }
  .icon__volume-up-1:before {
    content: "\e191";
  }
  .icon__wrench:before {
    content: "\e192";
  }
  .icon__unlike:before {
    content: "\e193";
  }
  .icon__thumbnails-large:before {
    content: "\e194";
  }
  .icon__thumbnails:before {
    content: "\e195";
  }
  .icon__table:before {
    content: "\e196";
  }
  .icon__unlock:before {
    content: "\e197";
  }
  .icon__unlock-2:before {
    content: "\e198";
  }
  .icon__tag-2-1:before {
    content: "\e199";
  }
  .icon__tags:before {
    content: "\e19a";
  }
  .icon__tag-3:before {
    content: "\e19b";
  }
  .icon__trash-bin:before {
    content: "\e19c";
  }
  .icon__tint:before {
    content: "\e19d";
  }
  .icon__trello:before {
    content: "\e19e";
  }
  .icon__zoom-out-1:before {
    content: "\e19f";
  }
  .icon__zoom-in-1:before {
    content: "\e1a0";
  }
  .icon__window-list:before {
    content: "\e1a1";
  }
  .icon__terminal-1:before {
    content: "\e1a2";
  }
  .icon__ticket:before {
    content: "\e1a3";
  }
  .icon__tablet:before {
    content: "\e1a4";
  }
  .icon__male:before {
    content: "\e1a5";
  }
  .icon__left-circle:before {
    content: "\e1a6";
  }
  .icon__location-arrow:before {
    content: "\e1a7";
  }
  .icon__lock-3:before {
    content: "\e1a8";
  }
  .icon__lightbulb:before {
    content: "\e1a9";
  }
  .icon__like-filled:before {
    content: "\e1aa";
  }
  .icon__female:before {
    content: "\e1ab";
  }
  .icon__flash:before {
    content: "\e1ac";
  }
  .icon__fighter-jet:before {
    content: "\e1ad";
  }
  .icon__file-1:before {
    content: "\e1ae";
  }
  .icon__file-document:before {
    content: "\e1af";
  }
  .icon__file-text:before {
    content: "\e1b0";
  }
  .icon__edit-write:before {
    content: "\e1b1";
  }
  .icon__code:before {
    content: "\e1b2";
  }
  .icon__cut-scissor:before {
    content: "\e1b3";
  }
  .icon__cutlery:before {
    content: "\e1b4";
  }
  .icon__denied-block:before {
    content: "\e1b5";
  }
  .icon__dollar:before {
    content: "\e1b6";
  }
  .icon__document:before {
    content: "\e1b7";
  }
  .icon__cog-gear:before {
    content: "\e1b8";
  }
  .icon__cup-1:before {
    content: "\e1b9";
  }
  .icon__columns:before {
    content: "\e1ba";
  }
  .icon__contrast:before {
    content: "\e1bb";
  }
  .icon__building:before {
    content: "\e1bc";
  }
  .icon__barcode:before {
    content: "\e1bd";
  }
  .icon__flag-1:before {
    content: "\e1be";
  }
  .icon__flag-2:before {
    content: "\e1bf";
  }
  .icon__bullseye:before {
    content: "\e1c0";
  }
  .icon__android:before {
    content: "\e1c1";
  }
  .icon__gamepad:before {
    content: "\e1c2";
  }
  .icon__gittip:before {
    content: "\e1c3";
  }
  .icon__laptop-1:before {
    content: "\e1c4";
  }
  .icon__keyboard:before {
    content: "\e1c5";
  }
  .icon__play-circle:before {
    content: "\e1c6";
  }
  .icon__retweet:before {
    content: "\e1c7";
  }
  .icon__question-1:before {
    content: "\e1c8";
  }
  .icon__question-2:before {
    content: "\e1c9";
  }
  .icon__right:before {
    content: "\e1ca";
  }
  .icon__undo:before {
    content: "\e1cb";
  }
  .icon__truck-1:before {
    content: "\e1cc";
  }
  .icon__user-2:before {
    content: "\e1cd";
  }
  .icon__upload:before {
    content: "\e1ce";
  }
  .icon__video-camera:before {
    content: "\e1cf";
  }
  .icon__tasks:before {
    content: "\e1d0";
  }
  .icon__user-3:before {
    content: "\e1d1";
  }
  .icon__user-add:before {
    content: "\e1d2";
  }
  .icon__users-1:before {
    content: "\e1d3";
  }
  .icon__vcard:before {
    content: "\e1d4";
  }
  .icon__traffic-cone:before {
    content: "\e1d5";
  }
  .icon__sweden:before {
    content: "\e1d6";
  }
  .icon__tag-4:before {
    content: "\e1d7";
  }
  .icon__star-4:before {
    content: "\e1d8";
  }
  .icon__star-empty:before {
    content: "\e1d9";
  }
  .icon__ticket-1:before {
    content: "\e1da";
  }
  .icon__thumbs-up:before {
    content: "\e1db";
  }
  .icon__thumbs-down:before {
    content: "\e1dc";
  }
  .icon__rocket-2:before {
    content: "\e1dd";
  }
  .icon__quote-1:before {
    content: "\e1de";
  }
  .icon__mail-2:before {
    content: "\e1df";
  }
  .icon__link-2:before {
    content: "\e1e0";
  }
  .icon__login:before {
    content: "\e1e1";
  }
  .icon__lock-open:before {
    content: "\e1e2";
  }
  .icon__lock-4:before {
    content: "\e1e4";
  }
  .icon__mobile:before {
    content: "\e1e3";
  }
  .icon__monitor:before {
    content: "\e1e5";
  }
  .icon__mouse:before {
    content: "\e1e6";
  }
  .icon__menu:before {
    content: "\e1e7";
  }
  .icon__list-3:before {
    content: "\e1e8";
  }
  .icon__left-circled:before {
    content: "\e1e9";
  }
  .icon__info-circled:before {
    content: "\e1ea";
  }
  .icon__info-1:before {
    content: "\e1eb";
  }
  .icon__left-open-big:before {
    content: "\e1ec";
  }
  .icon__left-open-mini:before {
    content: "\e1ed";
  }
  .icon__left-open:before {
    content: "\e1ee";
  }
  .icon__down-open:before {
    content: "\e1ef";
  }
  .icon__down-open-big:before {
    content: "\e1f0";
  }
  .icon__down-open-mini:before {
    content: "\e1f1";
  }
  .icon__doc:before {
    content: "\e1f2";
  }
  .icon__direction:before {
    content: "\e1f3";
  }
  .icon__doc-landscape:before {
    content: "\e1f4";
  }
  .icon__dot-3:before {
    content: "\e1f5";
  }
  .icon__dot-2:before {
    content: "\e1f6";
  }
  .icon__dot:before {
    content: "\e1f7";
  }
  .icon__docs:before {
    content: "\e1f8";
  }
  .icon__doc-text-inv:before {
    content: "\e1f9";
  }
  .icon__doc-text:before {
    content: "\e1fa";
  }
  .icon__comment-2:before {
    content: "\e1fb";
  }
  .icon__database-1:before {
    content: "\e1fc";
  }
  .icon__bell-1:before {
    content: "\e1fd";
  }
  .icon__book-1:before {
    content: "\e1fe";
  }
  .icon__bookmark-2:before {
    content: "\e1ff";
  }
  .icon__bookmarks:before {
    content: "\e200";
  }
  .icon__attention:before {
    content: "\e201";
  }
  .icon__cancel:before {
    content: "\e202";
  }
  .icon__cancel-circled:before {
    content: "\e203";
  }
  .icon__calendar-5:before {
    content: "\e204";
  }
  .icon__flash-1:before {
    content: "\e205";
  }
  .icon__down-dir:before {
    content: "\e206";
  }
  .icon__down-circled:before {
    content: "\e207";
  }
  .icon__db-shape:before {
    content: "\e208";
  }
  .icon__chat:before {
    content: "\e209";
  }
  .icon__credit-card-2:before {
    content: "\e20a";
  }
  .icon__cup-2:before {
    content: "\e20b";
  }
  .icon__chart-bar:before {
    content: "\e20c";
  }
  .icon__chart-line:before {
    content: "\e20d";
  }
  .icon__chart-pie:before {
    content: "\e20e";
  }
  .icon__chart-area:before {
    content: "\e20f";
  }
  .icon__cd-1:before {
    content: "\e210";
  }
  .icon__cog:before {
    content: "\e211";
  }
  .icon__cloud-3:before {
    content: "\e212";
  }
  .icon__clock-4:before {
    content: "\e213";
  }
  .icon__hourglass:before {
    content: "\e214";
  }
  .icon__infinity:before {
    content: "\e215";
  }
  .icon__globe-1:before {
    content: "\e216";
  }
  .icon__drive:before {
    content: "\e217";
  }
  .icon__download-1:before {
    content: "\e218";
  }
  .icon__key-2:before {
    content: "\e219";
  }
  .icon__keyboard-1:before {
    content: "\e21a";
  }
  .icon__lamp:before {
    content: "\e21b";
  }
  .icon__heart-empty-1:before {
    content: "\e21c";
  }
  .icon__heart-3:before {
    content: "\e21d";
  }
  .icon__help-circled:before {
    content: "\e21e";
  }
  .icon__folder-2:before {
    content: "\e21f";
  }
  .icon__paper-plane:before {
    content: "\e220";
  }
  .icon__megaphone-2:before {
    content: "\e221";
  }
  .icon__list-add:before {
    content: "\e222";
  }
  .icon__picture-1:before {
    content: "\e223";
  }
  .icon__share-1:before {
    content: "\e224";
  }
  .icon__shareable:before {
    content: "\e225";
  }
  .icon__pencil-3:before {
    content: "\e226";
  }
  .icon__briefcase:before {
    content: "\e227";
  }
  .icon__code-1:before {
    content: "\e228";
  }
  .icon__cloud-thunder:before {
    content: "\e229";
  }
  .icon__back-in-time:before {
    content: "\e22a";
  }
  .icon__arrow-combo:before {
    content: "\e22b";
  }
  .icon__clipboard-2:before {
    content: "\e22c";
  }
  .icon__check-1:before {
    content: "\e22d";
  }
  .icon__droplet:before {
    content: "\e22e";
  }
  .icon__flattr:before {
    content: "\e22f";
  }
  .icon__flight:before {
    content: "\e230";
  }
  .icon__feather:before {
    content: "\e231";
  }
  .icon__flag-3:before {
    content: "\e232";
  }
  .icon__flashlight:before {
    content: "\e233";
  }
  .icon__popup:before {
    content: "\e234";
  }
  .icon__print:before {
    content: "\e235";
  }
  .icon__target:before {
    content: "\e236";
  }
  .icon__up-open:before {
    content: "\e237";
  }
  .icon__up-open-big:before {
    content: "\e238";
  }
  .icon__up-open-mini:before {
    content: "\e239";
  }
  .icon__window:before {
    content: "\e23a";
  }
  .icon__upload-1:before {
    content: "\e23b";
  }
  .icon__upload-cloud:before {
    content: "\e23c";
  }
  .icon__whatsapp:before {
    content: "\e23d";
  }
  .icon__skype:before {
    content: "\e23e";
  }
  .icon__windows-1:before {
    content: "\e23f";
  }
  .icon__youtube:before {
    content: "\e240";
  }
  .icon__vcard-1:before {
    content: "\e241";
  }
  .icon__twitter-alt:before {
    content: "\e242";
  }
  .icon__playstation:before {
    content: "\e243";
  }
  .icon__photobucket:before {
    content: "\e244";
  }
  .icon__picassa:before {
    content: "\e245";
  }
  .icon__reddit:before {
    content: "\e246";
  }
  .icon__twitter:before {
    content: "\e247";
  }
  .icon__xing:before {
    content: "\e248";
  }
  .icon__wordpress:before {
    content: "\e249";
  }
  .icon__w3:before {
    content: "\e24a";
  }
  .icon__zynga:before {
    content: "\e24b";
  }
  .icon__plixi:before {
    content: "\e24c";
  }
  .icon__paypal:before {
    content: "\e24d";
  }
  .icon__technorati:before {
    content: "\e24e";
  }
  .icon__spotify:before {
    content: "\e24f";
  }
  .icon__dropbox:before {
    content: "\e250";
  }
  .icon__foursquare:before {
    content: "\e251";
  }
  .icon__hi5:before {
    content: "\e252";
  }
  .icon__facebook-alt:before {
    content: "\e253";
  }
  .icon__apple-1:before {
    content: "\e254";
  }
  .icon__amazon:before {
    content: "\e255";
  }
  .icon__aim:before {
    content: "\e256";
  }
  .icon__basecamp:before {
    content: "\e257";
  }
  .icon__creative-commons:before {
    content: "\e258";
  }
  .icon__drupal:before {
    content: "\e259";
  }
  .icon__grooveshark:before {
    content: "\e25a";
  }
  .icon__github-alt:before {
    content: "\e25b";
  }
  .icon__github:before {
    content: "\e25c";
  }
  .icon__linkedin-alt:before {
    content: "\e25d";
  }
  .icon__linkedin:before {
    content: "\e25e";
  }
  .icon__last:before {
    content: "\e25f";
  }
  .icon__google:before {
    content: "\e260";
  }
  .icon__facebook-places:before {
    content: "\e261";
  }
  .icon__digg:before {
    content: "\e262";
  }
  .icon__mixx-alt:before {
    content: "\e263";
  }
  .icon__feedburner:before {
    content: "\e264";
  }
  .icon__digg-alt:before {
    content: "\e265";
  }
  .icon__aws:before {
    content: "\e266";
  }
  .icon__dzone:before {
    content: "\e267";
  }
  .icon__ebay:before {
    content: "\e268";
  }
  .icon__evernote:before {
    content: "\e269";
  }
  .icon__simplenote:before {
    content: "\e26a";
  }
  .icon__squidoo:before {
    content: "\e26b";
  }
  .icon__steam:before {
    content: "\e26c";
  }
  .icon__stumbleupon:before {
    content: "\e26d";
  }
  .icon__tumblr:before {
    content: "\e26e";
  }
  .icon__vimeo:before {
    content: "\e26f";
  }
  .icon__soundcloud:before {
    content: "\e270";
  }
  .icon__rdio:before {
    content: "\e271";
  }
  .icon__yahoo:before {
    content: "\e272";
  }
  .icon__youtube-alt:before {
    content: "\e273";
  }
  .icon__google-buzz:before {
    content: "\e274";
  }
  .icon__baidu:before {
    content: "\e275";
  }
  .icon__behance:before {
    content: "\e276";
  }
  .icon__deviantart:before {
    content: "\e277";
  }
  .icon__aim-alt:before {
    content: "\e278";
  }
  .icon__arto:before {
    content: "\e279";
  }
  .icon__coroflot:before {
    content: "\e27a";
  }
  .icon__flickr-1:before {
    content: "\e27b";
  }
  .icon__icq:before {
    content: "\e27c";
  }
  .icon__newsvine:before {
    content: "\e27d";
  }
  .icon__msn-messenger:before {
    content: "\e27e";
  }
  .icon__mobileme:before {
    content: "\e27f";
  }
  .icon__squarespace:before {
    content: "\e280";
  }
  .icon__gdgt:before {
    content: "\e281";
  }
  .icon__folkd:before {
    content: "\e282";
  }
  .icon__app-store:before {
    content: "\e283";
  }
  .icon__key-fill:before {
    content: "\e284";
  }
  .icon__key-stroke:before {
    content: "\e285";
  }
  .icon__tag-stroke:before {
    content: "\e286";
  }
  .icon__pen-alt-stroke:before {
    content: "\e287";
  }
  .icon__unlock-stroke:before {
    content: "\e288";
  }
  .icon__unlock-fill:before {
    content: "\e289";
  }
  .icon__new-window:before {
    content: "\e28a";
  }
  .icon__comments:before {
    content: "\e28b";
  }
  .icon__settings-3:before {
    content: "\e28c";
  }
  .icon__home-3:before {
    content: "\e28d";
  }
  .icon__delicious:before {
    content: "\e28e";
  }
  .icon__anchor:before {
    content: "\e28f";
  }
  .icon__grid-1:before {
    content: "\e290";
  }
  .icon__heart-4:before {
    content: "\e291";
  }
  .icon__grid-alt:before {
    content: "\e292";
  }
  .icon__googleplus:before {
    content: "\e293";
  }
  .icon__envelope-1:before {
    content: "\e294";
  }
  .icon__expand:before {
    content: "\e295";
  }
  .icon__circle-full:before {
    content: "\e296";
  }
  .icon__globe-2:before {
    content: "\e297";
  }
  .icon__newspaper-1:before {
    content: "\e298";
  }
  .icon__pin-alt:before {
    content: "\e299";
  }
  .icon__newspaper-alt:before {
    content: "\e29a";
  }
  .icon__menu-1:before {
    content: "\e29b";
  }
  .icon__calculator-1:before {
    content: "\e29c";
  }
  .icon__iphone:before {
    content: "\e29f";
  }
  .icon__add:before {
    content: "\e2a0";
  }
  .icon__list-4:before {
    content: "\e2a1";
  }
  .icon__close:before {
    content: "\e2a2";
  }
  .icon__forbid-1:before {
    content: "\e2a3";
  }
  .icon__hyperlink:before {
    content: "\e2a4";
  }
  .icon__inbox:before {
    content: "\e2a5";
  }
  .icon__search-2:before {
    content: "\e2a6";
  }
  .icon__ipad-1:before {
    content: "\e2a7";
  }
  .icon__screen-1:before {
    content: "\e2a8";
  }
  .icon__gallary:before {
    content: "\e2a9";
  }
  .icon__task:before {
    content: "\e2aa";
  }
  .icon__exclamation-1:before {
    content: "\e2ab";
  }
  .icon__store:before {
    content: "\e2ac";
  }
  .icon__question-3:before {
    content: "\e2ad";
  }
  .icon__clock-5:before {
    content: "\e2ae";
  }
  .icon__browser-2:before {
    content: "\e2af";
  }
  .icon__in:before {
    content: "\e2b0";
  }
  .icon__chat-1:before {
    content: "\e2b1";
  }
  .icon__calendar-6:before {
    content: "\e2b2";
  }
  .icon__camera-3:before {
    content: "\e2b3";
  }
  .icon__cloud-4:before {
    content: "\e2b4";
  }

  //-------------------------------------------
  //  Run Mixins
  //-------------------------------------------
  @include __base-status(icon, true);
  @include __base-status(icon__round, true);
  @include __base-size(icon__round);

}