//module/Image ==========================================================================

@if __use-module(image) {

  //-------------------------------------------
  //  Variables module
  //-------------------------------------------
  $image__fluid--max-width: 100%;
  $image__avatar--padding: 0;

  //-------------------------------------------
  //  Class definitions
  //-------------------------------------------
  .image {
    display: inline-block;
    vertical-align: middle;
  }

  .image__fluid {
    max-width: $image__fluid--max-width;
    height: auto;
  }

  .image__avatar {
    padding: $image__avatar--padding;
    display: table;
    vertical-align: middle;
    text-align: center;
    float: left;

    span {
      display: table-cell;
      vertical-align: middle;
    }

  }

  .image__avatar--round {
    @include __ui-round(100%);
  }

  //-------------------------------------------
  //  Run Mixins Behaviors
  //-------------------------------------------
  @include __behavior--size(image__avatar, 5, 2);

}

//endif