//module/Image ==========================================================================

@if __use-module(image) {

  .image {
    display: inline-block;
    vertical-align: middle;
  }

  .image__fluid {
    max-width: 100%;
    height: auto;
  }

  .image--shadow-inside {
    @extend %__shadow-inside;
  }

  .image__avatar {
    padding: 0;
    display: table;
    vertical-align: middle;
    text-align: center;
    float: left;

    span {
      display: table-cell;
      vertical-align: middle;
    }

  }

  .image__avatar--round {
    @include __ui-round(100%);
  }

  //-------------------------------------------
  //  Run Mixins
  //-------------------------------------------
  @include __base-size(image__avatar, 5, 2);

}

//endif