//module/Label ==========================================================================

@if __use-module(label) {

  .label {
    font-weight: normal;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    font-size: 70%;
    line-height: 1;
    text-align: center;
    border-radius: __mapping($__map--ui, border-radius);;
  }

  .label--shadow-inside {
    @extend %__shadow-inside;
  }

  //-------------------------------------------
  //  Run Mixins
  //-------------------------------------------
  @include __base-status(label);
  @include __base-padding(label);

}

//endif