//module/Label ==========================================================================
@import "../core/mixins/label__mixin";
@import "../core/extends/label__extend";

@if __use-module(label) {

  //-------------------------------------------
  //  Variables module
  //-------------------------------------------
  $label--font-size: 10;
  $label--font-weight: normal;

  //-------------------------------------------
  //  Class definitions
  //-------------------------------------------

  .label {
    font-weight: $label--font-weight;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    font-size: __rem($label--font-size);
    font-weight: bold;
    text-align: center;
    @include __ui-round();
  }

  //-------------------------------------------
  //  Run Mixins Behaviors
  //-------------------------------------------
  @include __behavior--status(label);
  @include __behavior--padding(label);

  @include __behavior--shadow(label);
  @include __behavior--shadow-inside(label);
  @include __behavior--3d(label);
  @include __behavior--fluid(label);

}

//endif