//module/Label ==========================================================================

@if __use-module(label) {

  .label {
    font-weight: normal;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    font-size: 70%;
    line-height: 1;
    text-align: center;
    border-radius: __mapping($__map--ui, border-radius);
    padding: __mapping($__map--base-padding-size, xs) __mapping($__map--base-padding-size, xs);
  }

  .label--shadow-inside {
    @extend %__shadow-inside;
  }

  @include __base-status(label);
  @include __base-size(label);

}//endif