//module/List ==========================================================================

@import '../core/mixins/list__mixin';
@import '../core/extends/list__extend';

@if __use-module(list) {

  .list {
    padding-left: __em(10);
    list-style: none;
  }

  .list--bullet {
    list-style: bullet;
    padding-left: __em(10);
  }

  .list__item {
    margin-bottom: __em(10);
  }

  .list__item--end {
    margin-bottom: 0;
  }

  .list__group {
    margin-bottom: 20px;
    padding-left: 0;
  }

  .list__group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    border: 1px solid __mapping($__map--ui-color-status, normal);

    &:first-child {
      @include __ui-round--top(4px);
    }

    &:last-child {
      margin-bottom: 0;
      @include __ui-round--bottom(4px);
    }

    > .badge {
      float: right;
    }
    > .badge + .badge {
      margin-right: 5px;
    }
  }


  a.list__group-item {
    font-size: __em(__mapping($__map--base-font, size));

    &:hover,
    &:focus {
      text-decoration: none;
      //color: #454545;
      //background-color: #f3f3f3;
    }
  }

  .list__group-item {

    &.disabled,
    &.disabled:hover,
    &.disabled:focus {
      //background-color: #454545;
      //color: #FFFFFF;
    }

    &.active,
    &.active:hover,
    &.active:focus {
      z-index: 2;
      //color: #454545;
      //background-color: #ffffff;
      //border-color: #777777;
    }
  }

  @include __list-mixin--base-status();
  @include __base-size(list__group-item);

}

//endif