  //module/List ==========================================================================

  @if $module__list == true{

      .list{

          padding-left: em(10);
          list-style: none;
      }

      .list--bullet{
          list-style: bullet;
          padding-left: em(10);
      }

      .list__item{
          margin-bottom: em(10);
      }

      .list__item--end{
          margin-bottom: 0;
      }

  }//endif