//module/Menu ==========================================================================

@import "../core/extends/nav__extend";
@import "../core/mixins/nav__mixin";

@if __use-module(menu) {

  //------------------------------------------------
  // Nav
  //------------------------------------------------
  .nav {
    margin: 0;
    padding: 0;
    margin-bottom: __em(__mapping($__map--base, margin-bottom));
    list-style: none;
    display: block;
    @include __clearfix;

  }

  .nav--horizontal{

    .nav__item{
      display: inline-block;
      vertical-align: middle;
    }

  }

  .nav--vertical{

    .nav__item{

      @include __ui-round(0);
      display: block;

      &:nth-child(n)
      {
        border-bottom: 0;
      }

      &:first-child {
        @include __ui-round--top(__mapping($__map--ui, border-radius));
      }

      &:last-child {
        @include __ui-round--bottom(__mapping($__map--ui, border-radius));
        border: 1px solid __mapping($__map--ui-color-status, normal);
      }

    }

  }

  .nav--inline{
    display: inline-block;
    vertical-align: middle;
  }

  .nav--left{
    float: left;
  }

  .nav--right{
    float: right;
  }

  //------------------------------------------------
  // Nav bar
  //------------------------------------------------
  .nav__bar{
    position: relative;
    margin: 0;
    padding: 0 10px;
    @extend %__fluid;
    @include __ui-border();
    @include __ui-user-select();
    @include __clearfix();

    @include __nav-mixin--size-nav-bar();

    .nav{
      margin-bottom: 0;
    }

    .nav__item{
      border: 0;
    }

    p,h1,h2,h3,h4,h5,h6{
      line-height: 1;
      margin: 0;
      padding: 0;
    }

    ul{
      li,a{
        margin-right: -4px;
      }
    }

  }

  @include __base-status(nav__bar, true);

  .nav__bar--round{
    @include __ui-round();
  }

  .nav__bar--fixed{
    position: fixed;
    top: 0;
    left: 0;

    body{
      padding-top: 50px;
    }

  }

  //------------------------------------------------
  // Nav block
  //------------------------------------------------
  .nav__block{

    .nav__block-header{

    }




  }


  @include __nav-mixin--status(nav__status);
  @include __nav-mixin--size(nav__size);

  .nav__item{

    @extend %__nav-extend--inline;
    @include __ui-transition-o(all 0.3s ease-out);
    @include __ui-border();
    @include __clearfix();

    font-size: __em(__mapping($__map--base-font, size));
    border: 1px solid __mapping($__map--ui-color-status, normal);

    &:hover,
    &:focus {
      text-decoration: none;
    }

    .nav__item--child-float-right{
      float: right;
      margin-left: 4px;
    }

  }

  .nav__item--text-center{
    @extend %__nav-extend--text-center;
  }

  .nav__item--without-border{
    border: none;
  }

  @include __base-status(nav__item, true);
  @include __base-size(nav__item);

}//endif