//module/Menu ==========================================================================
@import "../core/extends/nav__extend";
@import "../core/mixins/nav__mixin";

@if __use-module(menu) {

  //-------------------------------------------
  //  Variables module
  //-------------------------------------------
  $nav--vertical-nav-item-border-botttom: 0;
  $nav__bar--margin: 0;
  $nav__bar--padding: 0 10px;
  $nav__bar--nav-margin-bottom: 0;
  $nav__bar--nav-item-border: 0;
  $nav__bar--ul-li-margin-right: -4px;
  $nav--fixed-top: 0;
  $nav--fixed-left: 0;

  //-------------------------------------------
  //  Class definitions
  //-------------------------------------------
  .nav {
    @include __base-mpb();
    margin-bottom: __em(__mapping($__map--base, margin-bottom));
    list-style: none;
    display: block;
    @include __clearfix();
  }

  .nav--horizontal {
    .nav__item {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .nav--vertical {

    .nav__item {
      @include __ui-round(0);
      display: block;

      &:nth-child(n) {
        border-bottom: $nav--vertical-nav-item-border-botttom;
      }

      &:first-child {
        @include __ui-round--top(__mapping($__map--ui, border-radius));
      }

      &:last-child {
        @include __ui-round--bottom(__mapping($__map--ui, border-radius));
        border: 1px solid __mapping($__map--ui-color-status, normal);
      }

    }

  }

  .nav--inline {
    display: inline-block;
    vertical-align: middle;
  }

  .nav--left {
    float: left;
  }

  .nav--right {
    float: right;
  }

  //------------------------------------------------
  // Nav bar
  //------------------------------------------------
  .nav__bar {
    position: relative;
    margin: $nav__bar--margin;
    padding: $nav__bar--padding;
    @extend %__fluid;
    @include __ui-border();
    @include __clearfix();
    @include __nav-mixin--size-nav-bar();

    .nav {
      margin-bottom: $nav__bar--nav-margin-bottom;
    }

    .nav__item {
      border: $nav__bar--nav-item-border;
    }

    p, h1, h2, h3, h4, h5, h6 {
      line-height: 1;
      @include __base-mpb();
    }

    ul {
      li, a {
        margin-right: $nav__bar--ul-li-margin-right;
      }
    }

  }

  .nav--round {
    @include __ui-round();
  }

  .nav--fixed {
    position: fixed;
    top: $nav--fixed-top;
    left: $nav--fixed-left;
  }

  //------------------------------------------------
  // Nav block
  //------------------------------------------------
  .nav__block {

    @include __ui-border();
    @include __clearfix();

    .nav__block-header {
      @extend %__nav-extend--inline;
      @include __clearfix();
    }

    .nav__block-menu {
      @extend %__nav-extend--inline;
      @include __clearfix();

      li {
        @extend %__nav-extend--inline;

        a {
          @include __ui-round();
        }

      }

    }

  }

  .nav__item {

    @extend %__nav-extend--inline;
    @include __ui-transition-o(all 0.3s ease-out);
    @include __ui-border();
    @include __ui-round();
    @include __clearfix();

    font-size: __em(__mapping($__map--base-font, size));
    border: 1px solid __mapping($__map--ui-color-status, normal);

    &:hover,
    &:focus {
      text-decoration: none;
    }

    .nav__item--child-float-right {
      float: right;
      margin-left: __em(__mapping($__map--base, margin-left));
    }

  }

  .nav__item--text-center {
    @extend %__nav-extend--text-center;
  }

  .nav__item--without-border {
    border: none;
  }

  //-------------------------------------------
  //  Run Mixins Behavior
  //-------------------------------------------
  @include __behavior--status(nav__bar, true);

  @include __nav-mixin--status-nav-block();
  @include __behavior--padding(nav__block);

  @include __behavior--status(nav__item, true);
  @include __behavior--padding(nav__item);

  @include __nav-mixin--status(nav__status);
  @include __nav-mixin--padding(nav__size);

}

//endif