//module/panel ==========================================================================
@import "../core/mixins/panel__mixin";
@import "../core/extends/panel__extend";

@if __use-module(panel) {

  //-------------------------------------------
  //  Variables module
  //-------------------------------------------
  $panel--panel-header-margin-top: 0;
  $panel--panel-header-margin-bottom: 0;
  $panel--panel-body-padding: 8px;

  //-------------------------------------------
  //  Class definitions
  //-------------------------------------------
  .panel {

    margin-top: __em(__mapping($__map--base, margin-top));
    margin-bottom: __em(__mapping($__map--base, margin-bottom));
    border-color: __mapping($__map--ui-color-status, normal);
    @include __ui-border();

    .panel__header {
      margin-top: $panel--panel-header-margin-top;
      margin-bottom: $panel--panel-header-margin-bottom;
      padding: __em(__mapping($__map--base-padding-size, lg));
      border-bottom: 1px transparent;
      @include __ui-round--top(__mapping($__map--ui, border-radius));

      > a {
        color: inherit;
      }
    }

    .panel__body {
      padding: $panel--panel-body-padding;
      @include __clearfix();
    }

    .panel__footer {
      padding: __em(__mapping($__map--base-padding-size, lg));
      border-top: 1px solid transparent;
    }

  }

  .panel--round {
    @include __ui-round();
  }


  //-------------------------------------------
  //  Run Mixins Behaviors
  //-------------------------------------------
  @include __panel-mixin--status(panel);
  @include __panel-mixin--padding(panel);
  @include __panel-mixin--padding-child();

  @include __behavior--shadow-inside(panel);
  @include __behavior--shadow(panel);


}