//-------------------------------------------
//  Button Mixins
//-------------------------------------------
@mixin __button-mixin--skin($color: -1, $color-text: __mapping($__map--ui, color-link)) {
  @if $color != -1 {
    $color-dark: __transform-color-dd($color, $darken: __mapping($__map--ui, percent-color-dark));
    background-color: #{$color};
    border-color: #{$color-dark};
  }
  color: #{$color-text};
}

//-------------------------------------------
//  Button Run Mixins
//-------------------------------------------
@include __base-padding(button);