//-------------------------------------------
//  Nav Mixins
//-------------------------------------------

@mixin __nav-mixin--status($prefix) {
  $colorstatus: $__map--ui-color-status;
  @each $key, $color in $colorstatus {
    .#{$prefix}--#{$key}{
      .nav__item{
        &:hover{
          background-color: $color;
          a{
            color: __dynamic-text-color($color);
          }
        }
      }
    }
  }
}

@mixin __nav-mixin--padding($prefix) {
  $psize: $__map--base-padding-size;
  @each $key, $size in $psize {
    .#{$prefix}--#{$key}{
      .nav__item{
        a {
          display: block;
          @include __behavior--padding-change($size);
        }
      }
      a.nav__item{
        @include __behavior--padding-change($size);
      }
    }

  }
}


@mixin __nav-mixin--size-nav-bar() {
  $psize: $__map--base-padding-size;
  .nav{
    display: table-cell;
    .nav__item{
      @include __ui-border(0);
      @include __ui-round(0);
    }
    @each $key, $size in $psize {
      .nav__item--#{$key}{

        a {
          padding: #{__em($size,  __mapping($__map--base, size-base-em))} #{__em(__mapping($__map--base-padding-size, xs),  __mapping($__map--base, size-base-em))};
          @include __ui-border(0);
        }
      }
    }
  }
}

@mixin __nav-mixin--status-nav-block() {
  $colorstatus: $__map--ui-color-status;
  @each $key, $color in $colorstatus {

    $color-text: __dynamic-text-color($color);
    $color-dark: __transform-color-dd($color, $darken: __mapping($__map--ui, percent-color-dark));

    .nav__block--#{$key}{

      @include __ui-border();
      background-color: $color;
      border-color: $color-dark;

      .nav__block-header{
        a{
          color: $color-text;
        }
      }

      .nav__block-menu{
        li{
          a{
            color: $color-text;
            &:hover{
              background-color: $color-dark;
            }
          }
        }
      }

    }
  }
}