//Core/helpers ==========================================================================

//------------------------------------------------
// Helper image replacement
//------------------------------------------------

%__ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

%__ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

%__shadow-inside {
  @include __ui-shadow-o(inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.2));
}

//------------------------------------------------
// Hide from both screenreaders and browsers
//------------------------------------------------

%__hidden {
  display: none;
  visibility: hidden;
}

//------------------------------------------------
// Hide visually and from screenreaders, but maintain layout
//------------------------------------------------

%__invisible {
  visibility: hidden;
}

//------------------------------------------------
// Clear float positions elements
//------------------------------------------------

%__clearfix {
  *zoom: 1;
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

//------------------------------------------------
// Visually hide an element
//------------------------------------------------

%__visually-hidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

%__fluid{
  display: block;
  width: 100%;
}

