  //Core/Vars ==========================================================================

  //---------------------------------------------
  //  BASE
  //---------------------------------------------
  $base__font-family:  			    sans-serif !default;
  $base__font-size: 				16 !default; //Base font-size px to em
  $base__font-size-default: 	    15 !default;
  $base__font-color: 				#000 !default;
  $base__font-align: 				left !default;
  $base__line-height: 			    20 !default;
  $base__width-fixed:               980px !default;
  $base__columns-grid:              12 !default;
  $base__margin:                    10px !default;
  $base__margin-left-sidebar:       260;
  $base__layout:                    (maxWidth: $base__width-fixed, columns: $base__columns-grid, margin: $base__margin);
  $base__breakpoints:               (
                                      xs: "(max-width : 480px)",
                                      sm: "(max-width : 768px) and (min-width: 481px)",
                                      md: "(max-width : 1024px)  and (min-width: 769px)",
                                      lg: "(min-width : 1025px)"
                                    );

  //---------------------------------------------
  //  FONT
  //---------------------------------------------
  $font__size--96:             	    f__em(96) !default;
  $font__size--72:               	f__em(72) !default;
  $font__size--48:              	f__em(48) !default;
  $font__size--36:              	f__em(36) !default; //h1
  $font__size--30:              	f__em(30) !default; //h2
  $font__size--24:              	f__em(24) !default; //h3
  $font__size--20:              	f__em(20) !default; //h4
  $font__size--16:              	f__em(16) !default; //h5
  $font__size--14:               	f__em(14) !default; //h6
  $font__size--12:             	    f__em(12) !default;
  $font__size--10:              	f__em(10) !default;

  $font__family--sans: 			    $base__font-family !default;
  $font__family--helvetica: 		'Helvetica Neue', #{$base__font-family} !default;
  $font__family--open-sans: 		'Open Sans', #{$base__font-family} !default;

  //---------------------------------------------
  //  UI BASE
  //---------------------------------------------
  $ui__border-radius:				4px !default;
  $ui__color-shadow:     			#CCC !default;
  $ui__color-border:     			#CCC !default;
  $ui__opacity: 					0.5 !default;
  $ui__map-shadow: 				    (hshadow:0px, vshadow:0px, blur:4px, spread:0px, color:#ffffff, opacity:0.75) !default;
  $ui__map-gradient: 				(fcolor: #444444, scolor: #999999) !default;
  $ui__rotate:                      7.5deg !default;
  $ui__scale:                       0.8 !default;
  $ui__text-shadow:                 (hshadow:1px, vshadow:1px, blur:3px, color:#888) !default;
  $ui__ease:                        ease-out !default;
  $ui__background-size:             100% 100% !default;

  //Color defaults for status
  $ui__color-status--normal:        #e4e7e8 !default;
  $ui__color-status--danger:        #ff4136 !default;
  $ui__color-status--warning:       #ff851b !default;
  $ui__color-status--success:       #5ac51f !default;
  $ui__color-status--info:          #158cba !default;

