// OMO > Overwriting ==========================================================================

//---------------------------------------------
//  Overwriting public configuration
//---------------------------------------------

//---------------------------------------------
//  BASE
//---------------------------------------------
$__margin-left-sidebar:             260!default;
$__line-height: 			        20!default;
$__width-fixed:                     980px!default;
$__padding:                         0!default;

//---------------------------------------------
//  BASE LAYOUT GENERIC
//---------------------------------------------
$__columns-grid:                    12!default;
$__margin:                          10px!default;

//---------------------------------------------
//  BASE BREAKPOINT
//---------------------------------------------
$__breakpoint-lg:                   "(min-width : 1025px)"!default;
$__breakpoint-md:                   "(max-width : 1024px)  and (min-width: 769px)"!default;
$__breakpoint-sm:                   "(max-width : 768px) and (min-width: 481px)"!default;
$__breakpoint-xs:                   "(max-width : 480px)"!default;
$__breakpoint-retina:               "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"!default;
//---------------------------------------------
//  BASE PADDING SIZES
//---------------------------------------------
$__padding-lg:                      12px!default;
$__padding-md:                      8px!default;
$__padding-sm:                      5px!default;
$__padding-xs:                      2px!default;

//---------------------------------------------
//  FONT PROPERTIES
//---------------------------------------------
$__font-size-96:             	    96!default;
$__font-size-72:                    72!default;
$__font-size-48:              	    48!default;
$__font-size-36:              	    36!default;
$__font-size-30:              	    30!default;
$__font-size-24:              	    24!default;
$__font-size-20:              	    20!default;
$__font-size-16:              	    16!default;
$__font-size-14:                    14!default;
$__font-size-12:             	    12!default;
$__font-size-10:              	    10!default;
$__font-family:                     'Open Sans', sans-serif!default;
$__font-size-base-em: 			    16!default;
$__font-size-default: 	            15!default;
$__font-weight:                     normal!default;
$__font-color: 				        #000!default;
$__font-color-element-form:         #6d6d6d !default;
$__font-color-placeholder:          #979797 !default;
$__font-color-label:                #6d6d6d !default;
$__font-align: 				        left!default;

//---------------------------------------------
//  GENERIC UI
//---------------------------------------------
$__border-radius:				    4px !default;
$__color-shadow:     			    #CCC !default;
$__color-border:     			    #CCC !default;
$__opacity: 					    0.5 !default;
$__gradient-fcolor:                 #444444!default;
$__gradient-scolor:                 #999999!default;
$__rotate:                          7.5deg!default;
$__scale:                           0.8!default;
$__ease:                            ease-out!default;
$__background-size:                 100% 100%!default;


//---------------------------------------------
//  GENERIC UI BOX SHADOW
//---------------------------------------------
$__shadow-h:                        0px!default;
$__shadow-v:                        0px!default;
$__shadow-blur:                     4px!default;
$__shadow-spread:                   0px!default;
$__shadow-color:                    #FFFFFF!default;
$__shadow-opacity:                  0.75!default;

//---------------------------------------------
//  GENERIC UI TEXT SHADOW
//---------------------------------------------
$__text-shadow-h:                   $__shadow-h!default;
$__text-shadow-v:                   $__shadow-v!default;
$__text-shadow-blur:                $__shadow-blur!default;
$__text-shadow-color:               $__shadow-color!default;
$__text-shadow-opacity:             $__shadow-opacity!default;

//---------------------------------------------
//  GENERIC COLOR UI
//---------------------------------------------
$__color-status--normal:            #e4e7e8 !default;
$__color-status--danger:            #ff4136 !default;
$__color-status--warning:           #ff851b !default;
$__color-status--success:           #5ac51f !default;
$__color-status--info:              #158cba !default;

$__color-status--normal-shadow:     #e2e2e2 !default;
$__color-status--danger-shadow:     #dd3d37 !default;
$__color-status--warning-shadow:    #d36a1b !default;
$__color-status--success-shadow:    #51a11f !default;
$__color-status--info-shadow:       #156f95 !default;

$__color-status--normal-dark:       #898c8d !default;
$__color-status--danger-dark:       #882e2c !default;
$__color-status--warning-dark:      #944a1b !default;
$__color-status--success-dark:      #356b1f !default;
$__color-status--info-dark:         #154b6e !default;

