//-------------------------------------------
//  Button Extends
//-------------------------------------------
%__button-extend--default {
  text-align: center;
  display: inline-block;
  margin-bottom: 4px;
  font-weight: normal;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  text-decoration: none;

  @include __ui-round();
  @include __ui-border();
  @include __ui-user-select();
}

%__button-extend--outline-in {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

%__button-extend--outline-off {
  outline: 0;
}