//-------------------------------------------
//  Navs Extends
//-------------------------------------------

%__nav-extend--inline{
  position: relative;
  display: inline-block;
  vertical-align: baseline;
}