//-------------------------------------------
//  Navs Extends
//-------------------------------------------

%__nav-extend--inline{
  display: inline-block;
  vertical-align: middle;
  @include __ui-round();
}

%__nav-extend--text-center{
    text-align: center;
}