//-------------------------------------------
//  Navs Extends
//-------------------------------------------

%__nav-extend--inline{
  display: inline-block;
  vertical-align: middle;
}

%__nav-extend--text-center{
    text-align: center;
}