// OMO > Overwriting ==========================================================================

//---------------------------------------------
//  Overwriting public configuration
//---------------------------------------------

//---------------------------------------------
//  BASE GENERIC
//---------------------------------------------
$__public--line-height: 			      20!default;
$__public--width-fixed:                   980px!default;
$__public--columns-grid:                  12!default;

//---------------------------------------------
//  BASE MARGIN
//---------------------------------------------
$__public--margin:                        10px!default;
$__public--margin-left-sidebar:           260!default;

//---------------------------------------------
//  BASE BREAKPOINT
//---------------------------------------------
$__public--breakpoint-lg:                 "(min-width : 1025px)"!default;
$__public--breakpoint-md:                 "(max-width : 1024px)  and (min-width: 769px)"!default;
$__public--breakpoint-sm:                 "(max-width : 768px) and (min-width: 481px)"!default;
$__public--breakpoint-xs:                 "(max-width : 480px)"!default;

//---------------------------------------------
//  PADDING
//---------------------------------------------
$__public--padding-lg:                    12px!default;
$__public--padding-md:                    8px!default;
$__public--padding-sm:                    5px!default;
$__public--padding-xs:                    2px!default;

//---------------------------------------------
//  BASE FONT PROPERTIES
//---------------------------------------------
$__public--font-size-96:             	  96!default;
$__public--font-size-72:               	  72!default;
$__public--font-size-48:              	  48!default;
$__public--font-size-36:              	  36!default; //h1
$__public--font-size-30:              	  30!default; //h2
$__public--font-size-24:              	  24!default; //h3
$__public--font-size-20:              	  20!default; //h4
$__public--font-size-16:              	  16!default; //h5
$__public--font-size-14:               	  14!default; //h6
$__public--font-size-12:             	  12!default;
$__public--font-size-10:              	  10!default;
$__public--font-family:                   sans-serif!default;
$__public--font-size-base-em: 			  16!default; //Base font-size px to em
$__public--font-size-default: 	          15!default;
$__public--font-color: 				      #000!default;
$__public--font-align: 				      left!default;

//---------------------------------------------
//  BASE GENERIC UI
//---------------------------------------------
$__public--ui-border-radius:				4px !default;
$__public--ui-color-shadow:     			#CCC !default;
$__public--ui-color-border:     			#CCC !default;
$__public--ui-opacity: 					    0.5 !default;
$__public--ui-shadow-h:                     0px!default;
$__public--ui-shadow-v:                     0px!default;
$__public--ui-shadow-blur:                  4px!default;
$__public--ui-shadow-spread:                0px!default;
$__public--ui-shadow-color:                 #FFFFFF!default;
$__public--ui-shadow-opacity:               0.75!default;
$__public--ui-gradient-fcolor:              #444444!default;
$__public--ui-gradient-scolor:              #999999!default;
$__public--ui-rotate:                       7.5deg!default;
$__public--ui-scale:                        0.8!default;
$__public--ui-ease:                         ease-out!default;
$__public--ui-background-size:              100% 100%!default;

//---------------------------------------------
//  BASE GENERIC COLOR UI
//---------------------------------------------
$__public--ui-color-status--normal:        #e4e7e8 !default;
$__public--ui-color-status--danger:        #ff4136 !default;
$__public--ui-color-status--warning:       #ff851b !default;
$__public--ui-color-status--success:       #5ac51f !default;
$__public--ui-color-status--info:          #158cba !default;

