//-------------------------------------------
//  Alert Mixins
//-------------------------------------------


//-------------------------------------------
//  Alert Extends
//-------------------------------------------
%__alert-extend--button {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}