//-------------------------------------------
//  Icon Extends
//-------------------------------------------
%icon__mixin--font-default {
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
}