//-------------------------------------------
//  Icon Mixins
//-------------------------------------------

//-------------------------------------------
//  Icon Extends
//-------------------------------------------
%__icon-extend--font-default {
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
}