//-------------------------------------------
//  Layout Mixins
//-------------------------------------------

@mixin __layout-mixin--grid-render($key, $settings) {
  $i: 1;
  @while $i <= __mapping($settings, "columns") {
    .layout__col-#{$key}-#{$i} {
      float: left;
      width: 100% * $i / __mapping($settings,"columns");
      @include __clearfix();
    }
    $i: $i+1;
  }
}

@mixin __layout-mixin--grid-media($queryString) {
  @media #{$queryString} {
    @content;
  }
}

@mixin __layout-mixin--grid-render-styles($settings) {

  .layout__container {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    @include __clearfix();
  }

  .layout__row {
    position: relative;
    @include __clearfix();
  }

  .layout__row--clear {
    margin-right: __mapping($settings, "margin") * -1;
    margin-left: __mapping($settings, "margin") * -1;
    @extend .layout__row;
  }

  $breakpoints: $__map--base-breakpoints;

  @each $key, $breakpoint in $breakpoints {
    @include __layout-mixin--grid-media($breakpoint) {
      @include __layout-mixin--grid-render($key, $settings);
    }
  }

}

@mixin __layout-mixin--grid-render-universal($index) {
  $breakpoint: __mapping($__map--base-breakpoints, $index);
  @include __layout-mixin--grid-media($breakpoint) {
    @content;
  }
}

@mixin __layout-mixin--create-blocks() {
  $class-block: layout__block !default;
  @for $i from 1 through 6 {
    $aux: $i * 5;
    .#{$class-block}--p#{$aux} {
      padding: __em($aux);
    }

    .#{$class-block}--pl#{$aux} {
      padding-left: __em($aux);
    }

    .#{$class-block}--pr#{$aux} {
      padding-right: __em($aux);
    }

    .#{$class-block}--plr#{$aux} {
      padding-left: __em($aux);
      padding-right: __em($aux);
    }

    .#{$class-block}--pt#{$aux} {
      padding-top: __em($aux);
    }

    .#{$class-block}--pb#{$aux} {
      padding-bottom: __em($aux);
    }

    .#{$class-block}--ptb#{$aux} {
      padding-top: __em($aux);
      padding-bottom: __em($aux);
    }

    .#{$class-block}--m#{$aux} {
      margin: __em($aux);
    }

    .#{$class-block}--ml#{$aux} {
      margin-left: __em($aux);
    }

    .#{$class-block}--mr#{$aux} {
      margin-right: __em($aux);
    }

    .#{$class-block}--mlr#{$aux} {
      margin-left: __em($aux);
      margin-right: __em($aux);
    }

    .#{$class-block}--mt#{$aux} {
      margin-top: __em($aux);
    }

    .#{$class-block}--mb#{$aux} {
      margin-bottom: __em($aux);
    }

    .#{$class-block}--mtb#{$aux} {
      margin-top: __em($aux);
      margin-bottom: __em($aux);
    }

  }
}

//-------------------------------------------
//  Layout Extends
//-------------------------------------------

